//variables
//fonts
$font: 'SF Pro Text', Arial, sans-serif;
$font2: 'SF Pro Display', Arial, sans-serif;

//colors
$text: #000000;
$bg: #ffffff;
$yellow1: #ffc500;
$yellow2: #fbb329;
$orange: #ff891f;
$lilac: #9681ba;
$lilac_2: #4e2869;
$lilac_3: #3c2658;
$green: #21b665;
$green_2: #00632d;
$blue:#00bce3;
$blue2:#1686c6;
$fuchsia:#f93079;
$fuchsia_2:#7d1137;
$lilac_001:#56437e;
$lilac_002: #d1bbff;
$gray5: #E0E0E0;
$gray3: #828282;


//another
$font-size: 14px;

//layout
/*-----------------SECTION-MIXINS--------------------*/
@import "layout/mixins";
/*------------------------SECTION-FONTS----------------*/
@import "layout/fonts";
/*------------------------SECTION-SMART-GRID----------------*/
@import "layout/smart-grid";
/*------------------------SECTION-ADJUSTMENT----------------*/
@import "layout/adjustment";
/*------------------------SECTION-COMMON----------------*/
@import "layout/common";

//sections
/*------------------------SECTION-HEADER----------------*/
@import "sections/header";
/*-----------------SECTION-INDEX--------------------*/
@import "sections/index";
/*-----------------SECTION-USLUGI--------------------*/
@import "sections/uslugi";
/*-----------------SECTION-USLUGA--------------------*/
@import "sections/usluga";
/*-----------------SECTION-TO--------------------*/
@import "sections/to";
/*-----------------SECTION-DElIVERY--------------------*/
@import "sections/delivery";
/*-----------------SECTION-AUTOMATIZATION--------------------*/
@import "sections/automatization";
/*------------------------SECTION-FOOTER---------------------*/
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}