extends ../main

block variables
    - var title = '404'

block content
    main.notfound
        .container.notfound__container
            .notfound__img
                img(src='images/content/404.png').notfound__img-img
            .notfound__text Неправильно набран адрес или такой страницы на сайте больше не существует.
            a(href='/').notfound__button.button На главную

































