extends ../main

block variables
    - var title = 'Супермаркет'

block content
    main.market
        //- bread
        section.bread
            .container
                .bread__list
                    a(href='/').bread__item Главная
                    .bread__sep /
                    a(href='auto.html').bread__item Автоматизация
                    .bread__sep /
                    a.bread__item.bread__item_active Супермаркет
        //- banner
        section.market__banner
            .container
                div(style='background-image: url(images/content/services/supermarket/bg.jpg)').mbanner
                    .row
                        .mbanner__wrapper
                            .mbanner__title Автоматизация супермаркета
                            .mbanner__text Автоматизированная система станет «мозгом» магазина, связывая воедино товар, оборудование, персонал и делая торговые процессы прозрачными и управляемыми.

        //- desc
        section.market__desc
            .container
                //- content
                .market__content
                    p
                        b Принцип успешной деятельности современного супермаркета –&nbsp;
                        | это единая, слаженная работа всех торговых процессов, начиная с закупки товаров, заканчивая маркетингом и ведением отчетности. Упорядочить и объединить все элементы в единую сеть поможет автоматизированная система.
                    p
                        b Автоматизация супермаркета —&nbsp;
                        | это внедрение в процесс торговли современного оборудования и программного обеспечения. Автоматизированная система станет «мозгом» магазина, связывая воедино товар, оборудование, персонал и делая торговые процессы прозрачными и управляемыми.
                    p
                        b Качество клиентского обслуживания —&nbsp;
                        | главное превосходство в борьбе за покупателя. Для повышения уровня сервиса и увеличения прибыли автоматизация продуктового магазина является конкурентным преимуществом. Без соответствующей автоматизации рентабельная работа продовольственного магазина не представляется возможной.
                    p Используя системы автоматизации, можно грамотно управлять процессами в продуктовом магазине, повышая их эффективность и прозрачность.

                    ul
                        li В неавтоматизированных магазинах у руководителя часто возникают проблемы с контролем работы сотрудников и учётом товаров, особенно при удалённом нахождении последних.
                        li При ручном обслуживании низкая скорость работы не позволяет увеличить эффективность продаж. С трудом выявляются группы товаров, которые продаются лучше остальных, слабо видны товары-”локомотивы” бизнеса.
                        li Воровство в продуктовых магазинах без автоматизации приводит к значительным потерям для владельцев вследствие недостаточного контроля и учёта товарно-материальных ценностей. В таких магазинах затруднительно определение результативных и неэффективных работников, нет возможности оптимизации штата сотрудников.
                        li Отсутствие у руководителя (владельца бизнеса) прозрачной управленческой отчётности по всем магазинам в одном месте, а также некачественная статистика оборотов и прибыльности в реальном режиме времени значительно ухудшают качество руководства магазином.
                //- quote
                .market__quote
                    img(src='images/content/services/supermarket/img.png').market__quote-img
                    .market__quote-text Современные программы и средства позволяют автоматизировать все этапы работы продуктового магазина — от учёта товаров, кадров и бухгалтерского до руководства торговой организацией.


        //- tabs
        section.market__kits

        //- feed
        section.market__feed
            +feed('feed_grey','images/icons/call2.png')




























