extends ../main

block variables
    - var title = 'Услуги'

block content
    main.services
        section.bread
            .container
                .bread__list
                    a(href='/').bread__item Главная
                    .bread__sep /
                    a.bread__item.bread__item_active Услуги
        //- main
        section.services__main
            .container
                //- title
                .services__title.title.title_tal Услуги

                //- catalog
                .services__catalog
                    .row
                        each i,x in ['Подключение оборудования','Установка и настройка ПО','Обучение персонала','Регистрация и ремонт ККТ','ЕГАИС','ФГИС Меркурий','Маркировка','Электронная подпись']
                            a(href='uslugi.html').services__item
                                .services__item-top
                                    .proportion.proportion_340x255
                                    .services__img
                                        img(src='images/content/services/catalog/'+(x+1)+'.jpg').services__img-img
                                .services__item-title= i


        //- content
        section.services__content
            .container
                .content
                    p Автоматизация предприятия и работа с торговым оборудованием подразумевает взаимодействие с различного рода программами, системами, сервисами и структурами (в том числе государственными), что влечет за собой необходимость оказания вспомогательных услуг для решения тех или иных задач. Регистрация и постановка на учет контрольно-кассовой техники в ИФНС, подключение к оператору фискальных данных (ОФД), работа с ЕГАИС, работа с ФГИС Меркурий, изготовление квалифицированной электронной подписи и получение сертификата в удостоверяющем центре, регулярное обновление и настройка программного обеспечения, замены фискальных накопителей, ремонт и подключение нового оборудования, обучение персонала - все это лишь малая часть того, что Вам предстоит пройти. Доверьте поддержание эффективности работы своего предприятия команде профессионалов и мы с удовольствием пройдем этот путь вместе с Вами
        //- feed
        section.services__feed
            +feed('feed_grey','images/icons/call2.png')




















