extends ../main

block variables
    - var title = 'Пример'

block content
    main.text
        //- bread
        section.bread.text__bread
            .container
                .bread__list
                    a(href='/').bread__item Главная
                    .bread__sep /
                    a.bread__item.bread__item_active Пример


        //- content
        section.text__content
            .container
                .content
                    .row
                        .col-12.or-lg-1
                            h1.d График работы офисов в Праздничные дни (H1)
                            p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                        .col-12
                            h1.t.text__h1 График работы офисов в Праздничные дни (H1)
                            img(src='images/content/text/img.jpg').text__img
                    h2 Почему он используется? (H2)
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    p Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                    h3 Нумерованный список (H3)
                    ol(class='ol-simple')
                        li Lorem Ipsum - это текст-"рыба";
                        li Рыбы (лат. Pisces) — парафилетическая группа водных позвоночных животных;
                        li Живо́тные (лат. Animalia) — выделяемая категория организмов;
                        li Органи́зм  — живое тело, обладающее совокупностью свойств, отличающих его от неживой материи.
                        li Материя – объективная реальность, существующая независимо от человеческого сознания и отображаемая им.
                    .row
                        ol(class='ol-simple-2').col-12
                            li Lorem Ipsum - это текст-"рыба";
                            li Рыбы (лат. Pisces) — парафилетическая группа водных позвоночных животных;
                            li Живо́тные (лат. Animalia) — выделяемая категория организмов;
                            li Органи́зм  — живое тело, обладающее совокупностью свойств, отличающих его от неживой материи.
                            li Материя – объективная реальность, существующая независимо от человеческого сознания и отображаемая им.

                        ol.col-12
                            li Lorem Ipsum - это текст-"рыба";
                            li Рыбы (лат. Pisces) — парафилетическая группа водных позвоночных животных;
                            li Живо́тные (лат. Animalia) — выделяемая категория организмов;
                            li Органи́зм  — живое тело, обладающее совокупностью свойств, отличающих его от неживой материи.
                            li Материя – объективная реальность, существующая независимо от человеческого сознания и отображаемая им.


                    h4 Маркерованный список (H4)
                    .row
                        ul.col-12
                            li
                                b Lorem Ipsum&nbsp;
                                |- это текст-"рыба";
                            li
                                b Рыбы&nbsp;
                                |(лат. Pisces) — парафилетическая группа водных позвоночных
                            li
                                b Живо́тные&nbsp;
                                |(лат. Animalia) — выделяемая категория организмов;
                            li
                                b Органи́зм&nbsp;
                                |— живое тело, обладающее совокупностью свойств, отличающих его от неживой материи.
                            li
                                b Материя&nbsp;
                                |– объективная реальность, существующая независимо от человеческого сознания и отображаемая им.

                        ul(class='ul-simple').col-12
                            li Lorem Ipsum - это текст-"рыба";
                            li Рыбы (лат. Pisces) — парафилетическая группа водных позвоночных
                            li Животные (лат. Animalia) — выделяемая категория организмов;
                            li Органи́зм  — живое тело, обладающее совокупностью свойств, отличающих его от неживой материи.
                            li Материя – объективная реальность, существующая независимо от человеческого сознания и отображаемая им.


























