extends ../main

block variables
    - var title = 'Регистрация ККТ в ИФНС'

block content
    main.usluga
        //- bread
        section.bread
            .container
                .bread__list
                    a(href='/').bread__item Главная
                    .bread__sep /
                    a(href='uslugi.html').bread__item Услуги
                    .bread__sep /
                    a.bread__item.bread__item_active Услуги

        //- main
        section.uslua__main
            .container
                .usluga__title.usluga__title_m.title Регистрация ККТ в ИФНС
                .row
                    //-left
                    .usluga__left
                        .usluga__aside
                            .uaside
                                //- title
                                .uaside__title Услуги

                                //- list
                                .uaside__list
                                    each i in uaside
                                        a(href='usluga.html' class=i.dopClass).uaside__item= i.title

                    //- right
                    .usluga__right
                        //- title
                        .usluga__title.title.title_tal Регистрация ККТ в ИФНС
                        //- desc
                        .usluga__desc
                            .row
                                //- left
                                .usluga__desc-left
                                    .usluga__img
                                        img(src='images/content/usluga/img.jpg').usluga__img-img
                                //- right
                                .usluga__desc-right
                                    .usluga__text Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!
                                    ul.usluga__list
                                        li.usluga__li Lorem Ipsum - это текст-"рыба";
                                        li.usluga__li Парафилетическая группа водных позвоночных
                                        li.usluga__li Выделяемая категория организмов;
                                    .usluga__bottom
                                        .usluga__price 3 500 руб.
                                        button(type='button').usluga__button.button Заказать



                        //- content
                        .usluga__content.content
                            p Из-за поправок к 54-ФЗ порядок работы с кассовой техникой заметно изменился, как и процесс регистрации ККТ в налоговой. Предприниматели, которые раньше были освобождены от использования ККТ, должны поставить ее на учет уже к 1 июля 2019. Это не так сложно, как кажется. Ниже мы расскажем, как зарегистрировать онлайн-кассу в налоговой
                            p Но просто купить ККТ и поставить ее на учет недостаточно. Учтите, что для печати чеков по требованиям 54-ФЗ нужен фискальный регистратор и кассовая программа. Наше приложение Касса МойСклад соответствует всем требованиям закона. Скачайте и попробуйте прямо сейчас: это бесплатно.
                            blockquote Требования закона теперь включают в цепочку передачи данных новое обязательное звено — оператора фискальных данных (ОФД).
                            img(src='images/content/usluga/img1.jpg' style='float: left; margin-right: 15px; margin-bottom: 10px;')
                            h2 Скачать Кассу МойСклад
                            p Теперь, когда вы убедились, что ККТ соответствует 54-ФЗ, пошагово разберем, как поставить кассу на учет в налоговой, и дадим инструкцию регистрации ККТ для тех, кого коснулось изменение закона или кто впервые открывает собственный бизнес.
                            p Требования закона теперь включают в цепочку передачи данных новое обязательное звено — оператора фискальных данных (ОФД). Именно через него информация будет поступать в ФНС. С 1 июля 2017 использование ККТ без ОФД невозможно (кроме списка исключений).
                            p Поэтому сразу после покупки новой техники подключитесь к одному из утвержденного ФНС списка ОФД:
                            ul
                                li Lorem Ipsum - это текст-"рыба";
                                li Рыбы (лат. Pisces) — парафилетическая группа водных позвоночных
                                li Живо́тные (лат. Animalia) — выделяемая категория организмов;
                                li Органи́зм  — живое тело, обладающее совокупностью свойств, отличающих его от неживой материи.
                                li Материя – объективная реальность, существующая независимо от человеческого сознания и отображаемая им.
                            img(src='images/content/usluga/img2.jpg' style='width: 100%; margin-top: 15px; margin-bottom: 15px;')
                            h2 Регистрации онлайн-кассы в налоговой
                            p Итак, вы приобрели ККТ и выбрали оператора. Теперь можно приступать к регистрации онлайн-кассы в налоговой.
                            p Сделать это можно разными способами: загрузить документы через интернет или подать в налоговую «по старинке» — принести лично, передать через представителя по нотариально заверенной доверенности или отправить почтой.
                            ol
                                li Lorem Ipsum - это текст-"рыба";
                                li Рыбы (лат. Pisces) — парафилетическая группа водных позвоночных
                                li Живо́тные (лат. Animalia) — выделяемая категория организмов;
                            p Постановка кассового аппарата на учет в налоговой обязательна и бесплатна — никто не имеет права брать с вас деньги за регистрацию как таковую, только за посреднические услуги. Посредниками могут стать представители ЦТО или ОФД: их сотрудники за плату сделают все за вас. Но если вы не планируете обращаться за помощью к специалистам, то справитесь и самостоятельно.
                            p Проще всего будет зарегистрировать онлайн-кассу через интернет: весь процесс происходит в личном кабинете налогоплательщика на сайте nalog.ru. Не понадобится ни собирать и заполнять бумажные документы, ни нести кассовый аппарат в налоговую для осмотра и фискализации: вы просто введете нужные данные в веб-форму.

        //- feed
        section.usluga__feed
            +feed('feed_grey','images/icons/call2.png')





















