extends ../main

block variables
    - var title = 'Регистрация и ремонт ККТ'

block content
    main.uslugi
        section.bread
            .container
                .bread__list
                    a(href='/').bread__item Главная
                    .bread__sep /
                    a(href='services.html').bread__item Услуги
                    .bread__sep /
                    a.bread__item.bread__item_active Регистрация и ремонт ККТ

        .container
            section.uslugi__catalog
                .uslugi__title.title.title_tal Услуги
                .uslugi__list
                    .uslugi__row.row
                        each i,x in uslugi
                            a(href='usluga.html').uslugi__item
                                .uslugi__item-img
                                    .proportion.proportion_340x255
                                    .uslugi__item-imgwrap
                                        img(src='images/content/services/img' + (x + 1) + '.jpg').uslugi__item-pic

                                .uslugi__item-title= i.title
                                .uslugi__item-text= i.text
                                ul.uslugi__item-list
                                    each li in [1,2,3]
                                        li.uslugi__item-li Основное преимущество
                                .uslugi__item-bottom
                                    .uslugi__item-price= i.price
                                    button(type='button').uslugi__item-button.button.button_t Заказать
                .uslugi__bottom
                   a(href='services.html').uslugi__button.button Вернуться к разделам
        section.uslugi__feed
            +feed('feed_grey','images/icons/call2.png')




















