.button {
  height: 40px;
  font-family: $font2;
  color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  background: $lilac_2;
  border: 2px solid transparent;
  border-radius: 20px;

  &:hover {
    background: $lilac_3;
  }

  &.disabled {
    background: $gray5;
    color: $gray3;
  }

  &_y {
    background: $yellow1;
    color: $text;

    &:hover {
      background: $yellow2;
    }
  }

  &_t {
    background: transparent;
    border: 2px solid $lilac_2;
    color: $lilac_2;
    @include sm-block{
      border: 1px solid $lilac_2;
    };

    &:hover {
      background: $lilac_2;
      color: $bg;
    }
  }

  &_g {
    background: #E0E0E0;
    color: #828282;

    &:hover {
      background: rgba($gray5, .7);
    }
  }

  &_op {
    background: none;
    color: #828282;

    &:hover {
      color: $text;
      background: none;
    }
  }

  &_gt {
    border: 1px solid #E0E0E0;
    background: transparent;
    color: #828282;

    &:hover {
      background: transparent;
      color: $text;
      border-color: $text;
    }
  }

}

.title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  @include sm-block {
    font-size: 20px;
  }
;

  &_w {
    color: $bg;
  }

  &_tal {
    text-align: left;
  }
}

.input {
  height: 40px;
  font-size: 13px;
  background: #FFFFFF;
  border-radius: 4px;
  padding: 10px;

  &.error {
    border: 1px solid #F93079;
    background-image: url("/images/icons/error.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
  }

  &.valid {
    background-image: url("/images/icons/valid.svg");
    background-position: right 10px center;
    background-repeat: no-repeat;
  }
}

.feed {
  color: $bg;

  &_grey {
    .feed {
      &__form {
        background: #EAEAEA;
        color: #000000;
      }

      &__fz {
        color: #666666;
      }

      &__submit {
        background: #4E2869;
        color: $bg;

        &:hover {
          background: $lilac_3;
        }
      }

    }
  }

  &__form {
    padding: 40px 60px;
    background: linear-gradient(90deg, #442768 31.2%, #732B6D 84.06%);
    border-radius: 12px;
    @include sm-block {
      padding: 20px;
      padding-bottom: 30px;
    }
  ;
  }

  &__left {
    @include col;
    @include size(16);
    @include size-lg(24);
    @include lg-block {
      text-align: center;
    }
  ;
    @include sm-block {
      text-align: left;
    }
  ;
  }

  &__right {
    @include col;
    @include size(8);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg-block {
      display: none;
    }
  ;
  }

  &__title {
    margin-bottom: 10px;
    color: inherit;
    @include lg-block {
      text-align: center;
    }
  ;
  }

  &__sub {
    font-size: 13px;
    color: inherit;
    margin-bottom: 20px;

  }

  &__cols {
    margin-bottom: 20px;
  }

  &__col {
    @include col;
    @include size(8);
    @include size-sm(24);
    @include sm-block {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  ;

    &_2 {
      @include size(16);
    }
  }

  &__field {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    width: 100%;
  }

  &__area {
    width: 100%;
    height: 100px;
  }

  &__submit {
    width: 100%;
  }

  &__fz {
    font-size: 10px;
    color: $bg;
    @include sm-block {
      text-align: center;
    }
  ;

    &_link {
      text-decoration: underline;
    }
  }

  &__img {
    margin-bottom: 25px;
  }

  &__phone {
    text-align: center;
    color: inherit;

    &-link {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 5px;
      display: block;
    }

    &-comment {
      font-size: 13px
    }
  }

  &__bottom {
    .row {
      align-items: center;
    }
  }

}

.phone {
  font-size: 26px;
  font-weight: bold;
  line-height: 1;
  transition: .3s;
  @include sm-block {
    font-size: 20px;
  }
;

  &:hover {
    text-decoration: underline;
  }

  &_grey {
    color: #797979;
  }
}

.socials {
  display: flex;
  align-items: center;
}

.social {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  transition: .3s;

  &:last-child {
    margin-right: 0;
  }


  &_vk {
    background: #64A9DC;
    border: 1px solid #64A9DC;
  }

  &_fb {
    background: #3B5998;
    border: 1px solid #3B5998;
  }

  &__svg {
    max-width: 18px;
    max-height: 18px;
    fill: $bg;
    transition: .3s;
  }

  &:hover {
    background: $bg;

    &.social {
      &_vk {
        .social__svg {
          fill: #64A9DC;
        }
      }

      &_fb {
        .social__svg {
          fill: #3B5998;
        }
      }

    }
  }
}

.proportion {
  display: block;
  width: 100%;

  &_340x255 {
    padding-top: calc((255 / 340) * 100%);
  }

  &_240x180 {
    padding-top: calc((180 / 240) * 100%);
  }

  &_560x420 {
    padding-top: calc((420 / 560) * 100%);
  }

  &_280x160 {
    padding-top: calc((160 / 280) * 100%);
  }
}

.bread {
  margin-top: 15px;
  font-size: 11px;
  margin-bottom: 25px;
  @include sm-block{
    margin-bottom: 15px;
  };


  &__list {
    display: flex;
    flex-wrap: wrap;
    @include lg-block {
      justify-content: center;
    }
  ;
  }

  &__item {
    color: rgba(0, 0, 0, 0.6);

    &_active {
      font-weight: bold;
    }
  }

  &__sep {
    color: rgba(0, 0, 0, 0.6);
    margin: 0 7px;
  }

}

.count {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  position: relative;
  overflow: hidden;
  @include lg-block {
    width: 72px;
    height: 32px;
  }

  &__button {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bg;
    z-index: 10;
    @include lg-block {
      width: 20px;
    }
  }

  &__down {
    left: 0;
    @include lg-block {
      left: 6px;
    }
  ;
  }

  &__up {
    right: 0;
    @include lg-block {
      right: 6px;
    }
  ;
  }

  &__svg {
    width: 24px;
    height: 24px;
    fill: #BDBDBD;
  }

  &__input {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-left: 35px;
    padding-right: 20px;
    @include lg-block {
      padding-left: 25px;
      padding-right: 10px;
    }
    @include sm-block{
      padding-left: 10px;
    };
  }
}

.price {
  font-size: 20px;
  font-weight: bold;
  @include lg-block {
    font-size: 16px;
  }
  @include sm-block{
    font-size: 10px;
}


  &_g {
    color: #828282;
    font-size: 17px;
  }

  &_w {
    color: $bg;
  }
}

.radio {

  &__input {
    display: none;

    &:checked + .radio {
      &__fake {
        &:after {
          background: #9681BA;
        }
      }

      &__title {
        color: $text;
      }
    }
  }

  &__fake {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #BDBDBD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 13px;

    &:after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transition: .3s;
      background: transparent;
    }
  }

  &__title {
    color: #606060;
    transition: .3s;
  }
}
