//variables
$vh: 1080;
$tableW: 1180;


@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@function width($width) {
  @return $width/$tableW *100%;
}

@function width2($widthTotal,$width,$margin) {
  @return #{calc(#{($width+$margin*2)/($widthTotal+$margin*2) *100%} - #{$margin*2+'px'})};
}

@function width3($widthTotal,$width) {
  @return #{calc(#{$width/$widthTotal *100%})};
}

@mixin cols($widthTotal,$width,$margin) {
  width: width2($widthTotal, $width, $margin);
  margin-left: #{$margin+'px'};
  margin-right: #{$margin+'px'};
}

@mixin width($widthTotal,$width) {
  width: width3($widthTotal, $width);
}


@mixin content() {
  ol {
    margin-bottom: 20px;
    counter-reset: li;

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 35px;

      &:before {
        font-size: 10px;
        counter-increment: li;
        content: counter(li);
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
        color: $lilac;
        width: 24px;
        height: 24px;
        border: 1px solid $lilac;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &.ol-simple {
      li{
        &:before{
          color: $lilac_2;
          counter-increment: li;
          content: counter(li)'.';
          border: none;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }

    &.ol-simple-2 {
      li{
        &:before{
          color: $bg;
          border: none;
          background-color: $lilac;
        }
      }
    }
  }

  ul {
    margin-bottom: 20px;

    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0.4rem;
        margin-top: -1px;
        background: #9681BA;
        width: 6px;
        height: 6px;
        border-radius: 50%;
      }
    }

    &.ul-simple{
      li {
        padding-left: 25px;
        &:before {
          width: 20px;
          height: 20px;
          background: url("/images/icons/marker.svg") center center no-repeat;
          background-size: cover;
          top: 0;
        }
      }
    }

  }

  h1 {
    font-size: 30px;
    line-height: lh(30, 40);
    font-weight: 600;
    margin-bottom: 40px;
    @include sm-block{
      font-size: 20px;
    };
  }
  h2 {
    font-size: 19px;
    line-height: lh(19, 30);
    font-weight: bold;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 17px;
    line-height: lh(17, 30);
    margin-bottom: 10px;
  }
  h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  h6 {
    font-size: 10px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 20px;
  }

  blockquote {
    margin: 30px 0;
    padding: 18px 0;
    padding-left: 30px;
    border-left: 4px solid $lilac_2;
    font-size: 20px;
    @include sm-block{
      padding: 0;
      padding-left: 16px;
      font-size: 16px;
    };
  }


}

@mixin headers() {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.875rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}