.search{
  margin-bottom: 60px;

  &__title {
    margin-bottom: 15px;
    @include lg-block{
      text-align: center;
    }
    @include sm-block{
      margin-bottom: 7px;
    }
  }

  &__text {
    font-size: 15px;
    margin-bottom: 40px;
    @include lg-block{
      text-align: center;
      margin-bottom: 30px;
    }
    @include sm-block{
      font-size: 13px;
      margin-bottom: 15px;
    }
  }
}

.sitem {
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: .3s;
  @include sm-block{
    padding: 15px;
    margin-bottom: 10px;
  }

  &:last-child{
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    .item__stick {
      &_enable {
        width: 110px;
      }
      &_new {
        width: 86px;
      }
      &_discount {
        width: 86px;
      }
    }
  }

  &__row {
    align-items: flex-end;
  }

  &__left {
    @include col;
    @include size(17);
    display: flex;
    align-items: center;
    @include size-lg(12);
    @include size-sm(24);
    &-left {
      position: relative;
      width: 160px;
      min-width: 160px;
      margin-right: 20px;
      @include sm-block{
        width: 60px;
        min-width: 60px;
        margin-right: 12px;
      }
    }
  }

  &__sticks {
    left: -20px;
    top: -10px;
    @include sm-block{
      display: none;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  &__title {
    font-size: 12px;
    margin-bottom: 20px;
    display: block;
    &:hover {
      text-decoration: underline;
    }
    @include lg-block{
      margin-right: -170px;
    }
    @include sm-block{
      margin-right: 0;
      margin-bottom: 0;
      font-size: 10px;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    @include sm-block{
      display: none;
    }
  }

  &__right {
    @include col;
    @include size(7);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include size-lg(12);
    @include sm-block{
      display: none;
    }
  }

  &__price {
    margin-bottom: 30px;
    &_m{
      display: none;
      @include sm-block{
        display: block;
        margin-bottom: 0;
        text-align: right;
      }
    }
  }

  &__buttons {
    display: flex;
  }

  &__one {
    width: 160px;
  }

  &__buy{
    width: 160px;
  }
}

.sservice{
  display: flex;
  align-items: center;

  &:hover {
    .sservice__title,.sservice__text {
      text-decoration: underline;
    }
  }

  &__image {
    position: relative;
    width: 160px;
    min-width: 160px;
    margin-right: 20px;
    img {
      width: 100%;
    }

    @include sm-block{
      width: 60px;
      min-width: 60px;
      margin-right: 12px;
    }
  }

  &__title {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    @include sm-block{
      font-size: 10px;
      margin-bottom: 5px;
    }
  }

  &__text {
    @include lg-block{
      height: 60px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @include sm-block{
      font-size: 10px;
      height: 43px;
    }
  }
}