.to {

  &__banner {
    height: 384px;
    //background-size: cover;
    background-position: right center;
    margin-bottom: 210px;

    @include lg-block{
      background: none!important;
      height: auto;
      margin-bottom: 230px;
    };
    @include sm-block{
      margin-bottom: 200px;
    };

    &-wrapper {

    }

    &-row {
      height: 100%;
      align-items: center;
    }

    &-content {
      @include col;
      @include size(10);
      @include size-lg(24);
    }

    &-title {
      font-family: $font2;
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 30px;
      @include lg-block{
        text-align: center;
      };
      @include sm-block{
        font-size: 20px;
        margin-bottom: 10px;
      };
    }

    &-img {
      display: none;
      @include lg-block{
        display: block;
        margin-bottom: 40px;
      };
      @include sm-block{
        margin-bottom: 15px;
      };
    }

    &-button {
      width: 200px;
      @include lg-block{
        margin: 0 auto;
      };
    }
  }

  &__advs {
    margin-top: -180px;
    margin-bottom: -160px;

    .container{
      @include lg-block{
        max-width: initial;
        padding-left: 35px;
        padding-right: 0;
      };
      @include sm-block{
        padding-left: 10px;
      };
    }

    &-row {
      @include lg-block{
        display: none;
      };
    }

    &-mobile {
      display: none;
      @include lg-block{
        display: block;
      };
    }
  }

  &__adv {
    @include col;
    @include size(6);
    background: #4E2869;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $bg;
    @include lg-block{
      margin: 0;
      width: 280px;
    };

    &-img {
      width: 100px;
      height: 100px;
      background: $bg;
      border-radius: 50%;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-title {
      text-align: center;
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    &-text {
      font-size: 15px;
      text-align: center;
    }
  }

  &__what {
    background: #EAEAEA;
    padding-top: 220px;
    padding-bottom: 60px;
    margin-bottom: 60px;
    @include lg-block{
      padding-top: 200px;
      margin-bottom: 45px;
      padding-bottom: 45px;
    };
    @include sm-block{
      padding-bottom: 470px;
      margin-bottom: 20px;
    };

    .container{
      @include sm-block{
        max-width: initial;
        padding-right: 0;
        padding-left: 10px;
      };
    }

    &-title {
      margin-bottom: 50px;
      @include sm-block{
        margin-bottom: 30px;
      };
    }
  }

  &__sws {
    display: flex;
    @include sm-block{
      display: none;
    };
  }

  &__sw {
    font-weight: bold;
    color: rgba($text, .6);
    transition: .3s;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px 12px 0px 0px;
    margin-right: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;


    &:last-child {
      margin-right: 0;
    }

    &.active {
      color: rgba($text, 1);
      background: rgba(255, 255, 255, 1);
    }
  }

  &__tabs {
    position: relative;
    @include sm-block{
      display: none;
    };
  }

  &__tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background: #FFFFFF;
    padding: 50px 0;
    border-radius: 0px 0 12px 12px;
    @include sm-block{
      position: static;
      opacity: 1;
      visibility: visible;
      border-radius:12px;
      width: 280px;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 20px;
      box-sizing: border-box;
    };

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &-row {
      align-items: center;
      @include lg-block{
        display: block;
      };
    }

    &-title {
      @include col;
      @include size-sm(24);

      font-size: 14px;
      color: #000000;
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;

    }

    &-left, &-right {
      @include col;
      @include size(12);
    }

    &-left {
      @include size-lg(10);
      @include lg-block{
        float: left;
        margin: 0;
      };
      @include sm-block{
        float: none;
        display: flex;
        justify-content: center;
      };
      @include size-sm(24);

    }

    &-right {
      padding-right: 50px;
      @include lg-block{
        padding-right: 35px;
        padding-left: 25px;
        padding-top: 20px;
      };
      @include size-lg(24);
      @include sm-block{
        padding: 0;
      };
    }

    &-img {
      width: 100%;
      @include sm-block{
        width: 207px;
      };
    }

    &-content {
      font-size: 13px;
      margin-bottom: 20px;
      @include sm-block{
        height: 140px;
        overflow: hidden;
        padding: 0 20px;

        &.active {
          height: auto;
        }
      };
    }

    &-button {
      width: 220px;
      @include lg-block{
        margin: 0 auto;
      };
    }

    &-more{
      border-top: 1px solid #E0E0E0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 15px;
      margin-bottom: 20px;

      &.active{
        .to__tab-readmore{
          &:first-child{
            display: none;
          }
          &:last-child {
            display: flex;
          }
        }
      }
    }

    &-readmore {
      display: flex;
      align-items: center;

      &:after {
        content: '';
        display: block;
        margin-left: 10px;
      }

      &:first-child{
        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 5px 0 5px;
          border-color: rgba($text,.3) transparent transparent transparent;
        }
      }

      &:last-child {
        display: none;
        &:after {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 5px 5px 5px;
          border-color: transparent transparent rgba($text, .3) transparent;
        }
      }

    }
  }

  &__tarifs {
    margin-bottom: 60px;
    @include sm-block{
      margin-bottom: 40px;
    };

    .container{
      @include sm-block{
        max-width: initial;
      };
      padding: 0;
    }
  }

  &__feed {
    margin-bottom: 60px;
  }

  &__slider {
    display: none;
    position: absolute;
    width: 100%;
    @include sm-block{
      display: block;

    };
  }

}

.tarifs {

  &__title {
    margin-bottom: 30px;
    @include sm-block{
      margin-bottom: 15px;
    };
  }

  &__table {
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    overflow: hidden;
    @include sm-block{
      display: none;
    };
  }

  &__tr {
    display: flex;
    border-bottom: 1px solid #E0E0E0;
  }

  &__td {
    padding: 10px;
    display: flex;
    align-items: center;
  }

  &__w {
    &-1 {
      width: width(591);
      padding-left: 40px;
      padding-right: 40px;
      @include lg-block{
        padding-left: 15px;
        padding-right: 15px;
      };
    }

    &-2 {
      width: width(200);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include lg-block{
        width: width(275);
      };
    }

    &-3 {
      width: width(199);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include lg-block{
        width: width(275);
      };
    }

    &-4 {
      width: width(191);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include lg-block{
        width: width(275);
      };
    }

    &-100{
      width: 100%;
      padding-left: 40px;
      padding-right: 40px;
      @include lg-block{
        padding-left: 20px;
        padding-right: 20px;
      };
    }
  }

  &__bottom {
    border: none;
    background: #F2F2F2;

    &-title {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    .tarifs__td {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

  &__td {
    border-right: 1px solid #E0E0E0;
    &:last-child {
      border: none;
    }
  }

  &__tabs{
    display: none;
    @include sm-block{
      display: block;
    };
  }

  &__sws{
    display: flex;
    align-items: flex-end;
  }

  &__sw{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #9788C0;
    border-radius: 12px 12px 0px 0px;
    padding: 10px;
    color: #FFFFFF;

    &:last-child,&:first-child {
      background: #8F80B7;
    }

    &.active {
      background: #4E2869;
      box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
      padding: 15px 10px;
    }

    &-title {
      font-size: 10px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    &-price {
      font-size: 14px;
      font-weight: bold;
    }

    &-sub {
      font-size: 10px;
    }
  }

  &__tab{
    display: none;
    &.active {
      display: block;
    }

    &-title {
      padding: 10px 15px;
      font-size: 12px;
      font-weight: bold;
      background: #F2F2F2;
      border: 1px solid #E0E0E0;
    }

    &-item {
      border-bottom: 1px solid #E0E0E0;
      display: flex;

      &:last-child{
        border-bottom: none;
      }
    }

    &-left{
      @include width(320,220);
      padding: 15px;
      padding-right: 8px;
      border-right: 1px solid #E0E0E0;
    }

    &-right{
      @include width(320,100);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-bottom {
      background: #F2F2F2;
      border: 1px solid #E0E0E0;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      padding-bottom: 25px;
      @include sm-block{
        text-align: center;
      };
    }

  }
}

.tarif {

  &__1{
    background: #8F80B7;
    border: none;
  }

  &__2{
    background: #6F458D;
    border: none;
  }

  &__3{
    background: #4E2869;
    border: none;
  }

  &__1,&__2,&__3 {
    @include lg-block{
      padding-top: 18px;
      padding-bottom: 18px;
    };

  }

  &__grey {
    background: #F2F2F2;
  }

  &__title {
    font-size: 17px;
    font-weight: bold;
    @include lg-block{
      font-size: 14px;
    };

    &_c{
      text-align: center;
    }
  }

  &__text {
    font-size: 13px;
    @include sm-block{
      font-size: 10px;
    };
  }

  &__check {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 1px solid #DADADA;
    display: flex;
    align-items: center;
    justify-content: center;

    &.checked {
      background: $green;
      border: 1px solid $green;
    }

    &:after {
      content: '';
      width: 14px;
      height: 10px;
      background: url("/images/icons/check.svg") 0 0 no-repeat;
    }
  }

  &__price {
    font-size: 13px;
    font-weight: bold;
    @include sm-block{
      font-size: 12px;
    };
  }

  &__name {
    font-size: 17px;
    color: $bg;
    font-weight: 600;
    @include lg-block{
      font-size: 14px;
    };
    @include sm-block{
      font-size: 17px;
    };

    &_b {
      color: #4E2869;
    }
  }

  &__cena{
    font-size: 24px;
    font-weight: bold;
    color: $bg;
    @include lg-block{
      font-size: 20px;
    };
    @include sm-block{
      font-size: 24px;
    };

    &_b {
      color: #4E2869;
      margin-bottom: 15px;
    }
  }

  &__sub {
    font-size: 13px;
    color: $bg;
    @include lg-block{
      font-size: 12px;
    };
  }

  &__button {
    width: 100%;
    max-width: 160px;
    @include sm-block{
      width: 160px;
    };
  }

  &__download {
    color: #1686C6;
    text-decoration: underline;
    font-size: 13px;
    margin-bottom: 10px;
    &:hover {
      text-decoration: none;
    }
    @include sm-block{
      margin: 15px 0;
    };
  }

  &__another {
    margin-top: 15px;
  }
}