.usluga{

  &__left,&__right {
    @include col;
  }
  &__left {
    @include size(6);
    @include size-lg(24);
    @include lg-block{
      margin-bottom: 25px;
      position: relative;
    };
  }

  &__right {
    @include size(18);
    padding-left: 20px;
    @include size-lg(24);
    @include lg-block{
      padding-left: 0;
    };
  }

  &__title {
    margin-bottom: 35px;
    @include lg-block{
      display: none;
      margin-bottom: 20px;
    };

    &_m{
      display: none;
      @include lg-block{
        display: block;
      };
    }
  }

  &__desc {
    background: #F2F2F2;
    padding: 20px;
    margin-bottom: 30px;
    @include sm-block{
      padding: 10px;
      margin-bottom: 25px;
      padding-bottom: 25px;
    };

    &-left{
      @include col;
      @include size(4/9*24);
      @include size-sm(24);
      @include sm-block{
        margin-bottom: 25px;
      };
    }

    &-right{
      @include col;
      @include size(5/9*24);
      @include size-sm(24);
    }

  }

  &__img {
    &-img{
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 20px;
  }

  &__list {
    margin-bottom: 40px;

    li{
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;

      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0.4rem;
        margin-top: -1px;
        border-bottom: 2px solid #9681BA;
        border-left: 2px solid #9681BA;
        width: 10px;
        height: 6px;
        transform: rotate(-45deg);
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
    @include sm-block{
      margin-right: auto;
    };
  }

  &__button {
    width: 160px;
  }

  &__content {
    margin-bottom: 80px;
  }

  &__feed {
    margin-bottom: 80px;
  }


}

.uaside{
  border: 1px solid #E1E1E1;
  font-size: 13px;

  &__title {
    background: #3C2658;
    border-radius: 4px;
    padding: 11px 20px;
    font-weight: bold;
    color: $bg;
    @include lg-block{
      position: relative;
      padding-left: 38px;
      cursor: pointer;

      &.active {
        &:after {
          transform: rotate(-180deg);
        }
      }
    };

    &:after{
      @include lg-block{
        content: '';
        display: block;
        position: absolute;
        left: 17px;
        top: 50%;
        margin-top: -2.5px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: rgba($bg,.3) transparent transparent transparent;
        transition: .3s;
      };
    }
  }

  &__list {
    padding: 20px;
    @include lg-block{
      display: none;
      margin-bottom: 0;
      position: absolute;
      z-index: 10;
      top: 100%;
      left: 0;
      width: 280px;
      background: $bg;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

      &.active{
        display: block;
      }
    };
    @include sm-block{
      width: 100%;
    };
  }

  &__item {
    display: block;
    padding: 11px 0;
    border-top: 1px solid #E1E1E1;
    transition: .3s;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      background: #F1F1F1;
      font-weight: bold;
      margin-left: -20px;
      margin-right: -20px;
      padding: 11px 20px;
      border: none;

      &+.uaside__item{
        border: none;
      }
    }
  }
}