-
    var headerMenu = [
    {
    title: 'Доставка и оплата',
    href: 'delivery.html'
    },
    {
    title: 'Гарантия и возврат',
    href: 'delivery.html'
    },
    {
    title: '54-ФЗ',
    href: '/'
    },
    {
    title: 'Оставить отзыв',
    href: '/'
    }
    ];
-
    var nav = [
        {
            title: 'Каталог',
            href: 'catalog.html',
            dopClass: 'active nav__item_subnav',
            subnav: {
                title: 'Торговое оборудование',
                list: {
                    title: 'Программное обеспечение',
                    items: [
                        'Front-office (кассовое) ',
                        'Back-office (товароучетное) ',
                        'Облачные решения'
                    ]
                },
                rows: [
                    [
                        {
                            title: 'Онлайн-кассы (54 ФЗ)',
                            items: ['Автономные кассы', 'Фискальные регистраторы']
                        },
                        {
                            title: 'POS-системы',
                        },
                        {
                            title: 'POS-переферия',
                            items: ['POS-терминалы', 'POS-компьютеры', 'POS-мониторы', 'Дисплеи покупателя', 'Чековые принтеры ', 'Денежные ящики', 'Программируемые клавиатуры', 'Ридеры магнитных карт']
                        },
                        {
                            title: 'Весовое оборудование',
                            items: ['Весы с подключением к компьютеру ', 'Весы с печатью этикеток', 'Весы торговые', 'Весы порционные', 'Весы напольные']
                        },
                    ],
                    [
                        {
                            title: 'Штрих-код оборудование ',
                            items: ['Сканеры штрих-кода', 'Принтеры этикеток', 'Терминалы сбора данных (ТСД)']
                        },
                        {
                            title: 'Банковское оборудование ',
                            items: ['Терминалы для эквайринга', 'Детекторы валют', 'Счетчики банкнот', 'Счетно-сортировальные машины', 'Темпо-кассы']
                        },
                        {
                            title: 'Упаковочное оборудование'
                        },
                        {
                            title: 'Информационные киоски'
                        },
                        {
                            title: 'Системы оповещения',
                            items: ['Кнопки вызова', 'Приемники вызовов ', 'Табло вызовов', 'Усилители сигнала']
                        },
                    ],
                    [
                        {
                            title: 'Расходные материалы',
                            items: ['Чековая лента', 'Этикет лента']
                        },
                        {
                            title: 'Фискальные накопители'
                        },
                        {
                            title: 'Аксессуары'
                        }
                    ]
                ]
            }
        },
        {
            title: 'Автоматизация',
            href: 'auto.html'
        },
        {
            title: 'Услуги',
            href: 'services.html',
            dopClass: 'nav__item_subnav',
            subnav: {
                title: 'Торговое оборудование',
                list: {
                title: 'Программное обеспечение',
                items: [
                'Front-office (кассовое) ',
                'Back-office (товароучетное) ',
                'Облачные решения'
                ]
                },
                rows: [
                [
                {
                title: 'Онлайн-кассы (54 ФЗ)',
                items: ['Автономные кассы', 'Фискальные регистраторы']
                },
                {
                title: 'POS-системы',
                },
                {
                title: 'POS-переферия',
                items: ['POS-терминалы', 'POS-компьютеры', 'POS-мониторы', 'Дисплеи покупателя', 'Чековые принтеры ', 'Денежные ящики', 'Программируемые клавиатуры', 'Ридеры магнитных карт']
                },
                {
                title: 'Весовое оборудование',
                items: ['Весы с подключением к компьютеру ', 'Весы с печатью этикеток', 'Весы торговые', 'Весы порционные', 'Весы напольные']
                },
                ],
                [
                {
                title: 'Штрих-код оборудование ',
                items: ['Сканеры штрих-кода', 'Принтеры этикеток', 'Терминалы сбора данных (ТСД)']
                },
                {
                title: 'Банковское оборудование ',
                items: ['Терминалы для эквайринга', 'Детекторы валют', 'Счетчики банкнот', 'Счетно-сортировальные машины', 'Темпо-кассы']
                },
                {
                title: 'Упаковочное оборудование'
                },
                {
                title: 'Информационные киоски'
                },
                {
                title: 'Системы оповещения',
                items: ['Кнопки вызова', 'Приемники вызовов ', 'Табло вызовов', 'Усилители сигнала']
                },
                ],
                [
                {
                title: 'Расходные материалы',
                items: ['Чековая лента', 'Этикет лента']
                },
                {
                title: 'Фискальные накопители'
                },
                {
                title: 'Аксессуары'
                }
                ]
                ]
            }
        },
        {
            title: 'обслуживание',
            href: 'to.html'
        },
        {
            title: 'егаис',
            href: '/'
        },
        {
            title: 'ФГИС МЕРКУРИЙ',
            href: '/'
        },
        {
            title: 'МАРКИРОВКА',
            href: '/'
        },


    ];
-
    var icats = [
        'Автономные онлайн-кассы',
        'Фискальные регистраторы',
        'POS-системы',
        'POS-терминалы',
        'POS-компьютеры',
        'POS-мониторы',
        'Дисплеи покупателя',
        'Чековые принтеры',
        'Денежные ящики',
        'Программируемые клавиатуры',
        'Весовое оборудование ',
        'Сканеры штрих-кода ',
        'Принтеры этикеток',
        'Терминалы сбора данных (ТСД) ',
        'Терминалы для эквайринга',
        'Детекторы валют',
        'Счетчики банкнот',
        'Раходные материалы',
        'Фискальные накопители',
        'Упаковочное оборудование',
        'Информационные киоски',
        'Системы оповещения',
        'Аксессуары',
        'Программное обеспечение'
    ]
-
    var iReadySws = [
        'Розничная торговля',
        'Общественное питание',
        'Выездная торговля',
        'ЕГАИС',
        'Маркировка',
        'Интернет магазин',
        'Вендинг'
    ]
-
    var iReadyTabs2 = [
        {
            title: 'Супермаркет',
            text: 'Решение для крупных, универсальных, сетевых магазинов при наличии двух и более кассовых зон'
        },
         {
            title: 'Магазин',
            text: 'Решение для классических магазинов с самообслуживанием'
        },
         {
            title: 'Павильон',
            text: 'Решение для небольших торговых точек прилавочного типа'
        }
    ];
-
    var iReadySlides = [
        {
            title: 'Розничная торговля',
            sws: ['Продовольственная','Непродовольственная'],
            list: [
                {
                    title: 'Супермаркет',
                    src: 'market.html',
                    text: 'Решение для крупных, универсальных, сетевых магазинов при наличии двух и более кассовых зон'
                },
                {
                    title: 'Магазин',
                    src: 'market.html',
                    text: 'Решение для классических магазинов с самообслуживанием'
                },
                {
                    title: 'Павильон',
                    src: 'market.html',
                    text: 'Решение для небольших торговых точек прилавочного типа'
                }
            ]
        },
        {
            title: 'Общепит',
            list: [
                {
                    title: 'Ресторан',
                    link: 'market.html',
                    text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. '
                },
                {
                    title: 'Фудкорт',
                    link: 'market.html',
                    text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. '
                }
            ]
        },
        {
            title: 'Выездная торговля',
            list: [
                {
                    title: 'Пивная родукция без акцизной марки',
                    link: 'market.html',
                    text: 'Lorem Ipsum не только успешно пережил без заметных изменений пять веков'
                },
                {
                    title: 'Крепкий алкоголь с акцизной маркой',
                    link: 'market.html',
                    text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. '
                },

            ]
        },
        {
            title: 'ЕГАИС',
            list: [
                {
                    title: 'Пивная родукция без акцизной марки',
                    link: 'market.html',
                    text: 'Lorem Ipsum не только успешно пережил без заметных изменений пять веков'
                },
                {
                    title: 'Крепкий алкоголь с акцизной маркой',
                    link: 'market.html',
                    text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. '
                }
            ]
        },
        {
            title: 'Маркировка',
            list: [
                {
                    title: 'Пивная родукция без акцизной марки',
                    link: 'market.html',
                    text: 'Lorem Ipsum не только успешно пережил без заметных изменений пять веков'
                },
                {
                    title: 'Крепкий алкоголь с акцизной маркой',
                    link: 'market.html',
                    text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. '
                }
            ]
        },
        {
            title: 'Интернет магазин',
            list: [
                {
                    title: 'Пивная родукция без акцизной марки',
                    link: 'market.html',
                    text: 'Lorem Ipsum не только успешно пережил без заметных изменений пять веков'
                },
                {
                    title: 'Крепкий алкоголь с акцизной маркой',
                    link: 'market.html',
                    text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. '
                }
            ]
        },
        {
            title: 'Вендинг',
            list: [
                {
                    title: 'Пивная родукция без акцизной марки',
                    link: 'market.html',
                    text: 'Lorem Ipsum не только успешно пережил без заметных изменений пять веков'
                },
                {
                    title: 'Крепкий алкоголь с акцизной маркой',
                    link: 'market.html',
                    text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. '
                }
            ]
        }
    ];
-
    var iChart = [
        [
            {
                date: '1 феварля 2017',
                text: 'Больше нельзя регистрировать старые кассы с ЭКЛЗ.'
            },
            {
                date: '31 марта 2017',
                text: 'Продавцы крепкого алкоголя, у которых еще небыло ККТ. Продавать слабоалкогольные напитки покачто можно без кассы нового образца'
            },
            {
                date: '1 июня 2017',
                text: 'ОСН и УСН, кроме услуг. Интернет-магазины, которые принимают карты и наличные деньги. Продавцы акцизных товаров.',
                last: true
            }
        ],
        [
            {
                date: '1 июля 2018',
                text: 'Интернет-магазины, которым клиент платит электронными деньгами, по квитанции в банке или на почте наложенным платежом. ЕНВД и ПСН с наемными сотрудниками в сфере общепита или розничной торговли. Вендинг с наемными сотрудниками.'
            },
            {
                date: '1 июля 2019',
                text: 'ЕНВД (подпункты 1–5, 10–14 пункта 2 сттьи 346,26 НК). Патент (подпункты 1–15, 18–28, 30–44, 49–58, 60–63 пункта 2 статьи 346,43 НК). Вендинг без сотрудиков. Услуги населению, кроме общепита с наемными сотрудниками.',
                last: true
            }
        ],
        [
            {
                date: '1 февраля 2021',
                text: 'ИП на патенте, ЕНВД и УСН обязаны указывать в чеке наименование товара или услуг и их количество.',
                last: true,
                dopClass: 'last'
            },
        ]
    ];
-
    var iChartT = [
        [
            {
                date: '1 феварля 2017',
                text: 'Больше нельзя регистрировать старые кассы с ЭКЛЗ.'
            },
            {
                date: '31 марта 2017',
                text: 'Продавцы крепкого алкоголя, у которых еще небыло ККТ. Продавать слабоалкогольные напитки покачто можно без кассы нового образца',
                last: true
            },

        ],
        [
            {
            date: '1 июня 2017',
            text: 'ОСН и УСН, кроме услуг. Интернет-магазины, которые принимают карты и наличные деньги. Продавцы акцизных товаров.',

            },
            {
                date: '1 июля 2018',
                text: 'Интернет-магазины, которым клиент платит электронными деньгами, по квитанции в банке или на почте наложенным платежом. ЕНВД и ПСН с наемными сотрудниками в сфере общепита или розничной торговли. Вендинг с наемными сотрудниками.',
                last: true
            }
        ],
        [

            {
            date: '1 июля 2019',
            text: 'ЕНВД (подпункты 1–5, 10–14 пункта 2 сттьи 346,26 НК). Патент (подпункты 1–15, 18–28, 30–44, 49–58, 60–63 пункта 2 статьи 346,43 НК). Вендинг без сотрудиков. Услуги населению, кроме общепита с наемными сотрудниками.',
            },
            {
                date: '1 февраля 2021',
                text: 'ИП на патенте, ЕНВД и УСН обязаны указывать в чеке наименование товара или услуг и их количество.',
                last: true,
                dopClass: 'last'
            },
        ]
    ];
-
    var iChartM = [
            {
                date: '1 феварля 2017',
                text: 'Больше нельзя регистрировать старые кассы с ЭКЛЗ.'
            },
            {
                date: '31 марта 2017',
                text: 'Продавцы крепкого алкоголя, у которых еще небыло ККТ. Продавать слабоалкогольные напитки покачто можно без кассы нового образца',
            },
            {
            date: '1 июня 2017',
            text: 'ОСН и УСН, кроме услуг. Интернет-магазины, которые принимают карты и наличные деньги. Продавцы акцизных товаров.',
            },
            {
                date: '1 июля 2018',
                text: 'Интернет-магазины, которым клиент платит электронными деньгами, по квитанции в банке или на почте наложенным платежом. ЕНВД и ПСН с наемными сотрудниками в сфере общепита или розничной торговли. Вендинг с наемными сотрудниками.',
            },
            {
            date: '1 июля 2019',
            text: 'ЕНВД (подпункты 1–5, 10–14 пункта 2 сттьи 346,26 НК). Патент (подпункты 1–15, 18–28, 30–44, 49–58, 60–63 пункта 2 статьи 346,43 НК). Вендинг без сотрудиков. Услуги населению, кроме общепита с наемными сотрудниками.',
            },
            {
                date: '1 февраля 2021',
                text: 'ИП на патенте, ЕНВД и УСН обязаны указывать в чеке наименование товара или услуг и их количество.',
                dopClass: 'last'
            },
    ];

-
    var footer = [
        {
            title: 'Торговое оборудование ',
            href: 'catalog.html',
            list: [
                'Автономные онлайн-кассы (54-ФЗ)',
                'Фискальные регистраторы (54-ФЗ)',
                'POS-системы',
                'POS-компьютеры',
                'POS-мониторы',
                'Дисплеи покупателя',
                'Программируемые клавиатуры',
                'Сканеры штрих-кода ',
                'Принтеры этикеток',
                'Терминалы сбора данных (ТСД)',
                'Электронные весы',
                'Денежные ящики',
                'Детекторы валют',
                'Банковские терминалы (эквайринг)',
                'Чековые принтеры ',
                'Фискальные накопители',
                'Расходные материалы'
            ]
        },
        {
            title: 'Автоматизация',
            href: 'auto.html',
            list: [
                'Продуктовый магазин ',
                'Алкогольный магазин',
                'Пивной магазин',
                'Магазин одежды и обуви ',
                'Аптека',
                'Хозяйственный магазин ',
                'Ювелирный магазин',
                'Цветочный магазин',
                'Магазин стройматериалов ',
                'Книжный магазин',
                'Косметический магазин',
                'Магазин автозапчастей ',
                'Зоомагазин',
                'Ресторан',
                'Фудкорт ',
                'Кафе, кофейня, бар',
                'Столовая на предприятии'
            ]
        },
        {
            title: 'Услуги',
            href: 'uslugi.html',
            list: [
                'Автоматизация',
                'Техническое обслуживание',
                'Подключение к ФГИС Меркурий',
                'Изготовление КЭП',
                'Регистрация ККТ в ИФНС ',
                'Подключение к ОФД',
                'Подключение ФР',
                'Подключение электронных весов',
                'Подключение сканера штрих-кода',
                'Подключение дисплея покупателя',
                'Подключение весов с печатью этикеток',
                'Подключение принтера этикеток',
                'Подключение программируемой клавиатуры ',
                'Подключение ТСД',
                'Подключение ЕГАИС',
                'Обучение кассира',
                'Обучение товароведа'
            ]
        },


    ];
-
    var uslugi = [
        {
            title: 'Регистрация ККТ в ИФНС ',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '3 500 руб.'
        },
        {
            title: 'Установка и настройка товароучетной программы с заполнением данных организации',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '4 500 руб.'
        },
        {
            title: 'Подключение фискального регистратора',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '2 500 руб.'
        },
        {
            title: 'Подключение сканера штрихкода',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '3 500 руб.'
        },
        {
            title: 'Обучение кассира ',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '4 500 руб.'
        },
        {
            title: 'Подключение, обучение и настройка ЕГАИС ',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '4 500 руб.'
        }
    ];
-
    var uaside = [
        {
            title: 'Автоматизация '
        },
        {
            title: 'Техническое обслуживание'
        },
        {
            title: 'Подключение к ФГИС Меркурий '
        },
        {
            title: 'Изготовление КЭП'
        },
        {
            title: 'Регистрация ККТ в ИФНС ',
            dopClass: 'active'
        },
        {
            title: 'Подключение к ОФД '
        },
        {
            title: 'Подключение ФР'
        },
        {
            title: 'Подключение электронных весов'
        },
        {
            title: 'Подключение сканера штрих-кода'
        },
        {
            title: 'Подключение дисплея покупателя '
        },
        {
            title: 'Подключение весов с печатью этикеток '
        },
        {
            title: 'Подключение принтера этикеток '
        },
        {
            title: 'Подключение программируемой клавиатуры '
        },
        {
            title: 'Подключение ТСД '
        },
        {
            title: 'Подключение ЕГАИС '
        },
        {
            title: 'Обучение кассира'
        },
        {
            title: 'Обучение товароведа'
        },
    ];
-
    var toAdvs = [
        {
            title: 'Помогаем отремонтировать технику',
            text: 'Проведем диагностику и выявим причину поломки. Исправим технику, даже если случай не гарантийный.'
        },
        {
            title: 'Работаем на вашей территории',
            text: 'Приедем в ваш офис или магазин,если устранить неполадки невозможно по телефону или через интернет.'
        },
        {
            title: 'Консультируем по телефону',
            text: 'Наши эксперты быстро и полно ответят на вопросы о работе оборудования в любое время суток.'
        },
        {
            title: 'Дставляем технику в сервис и обртно',
            text: 'Специалисты отвезут оборудование в пункт ремонта и вернут в исправном состоянии'
        }
    ];
-
    var toSws = [
        'Торговое оборудование',
        'Кассовые и учетные программы',
        'Поддержка обмена со сторонними системами'
    ];
-
    var tarifsServices = [
        {
            text: 'Консультации по любым средствам связи, в том числе удаленное подключение к оборудованию клиента (при технической возможности)',
            cols: [true,true,true]
        },
        {
            text: 'Выезд специалиста на территорию клиента для проведения технического обслуживания торгового оборудования',
            cols: [true,true,true]
        },
        {
            text: 'Диагностика неисправности удаленно и на территории клиента',
            cols: [true,true,true]
        },
        {
            text: 'Доставка неисправного оборудования в сервисный центр и обратно',
            cols: [true,true,true]
        },
        {
            text: 'Поддержка товароучетной системы на торговом объекте',
            cols: [false,true,true]
        },
        {
            text: 'Поддержка обмена с торговым оборудованием',
            cols: [false,true,true]
        },
        {
            text: 'Поддержка принтера этикеток и МФУ',
            cols: [false,true,true]
        },
        {
            text: 'Поддержка весов с печатью этикеток и ТСД',
            cols: [false,true,true]
        },
        {
            text: 'Поддержка работы с ЕГАИС',
            cols: [false,false,true]
        },
        {
            text: 'Поддержка работы с маркированной продукцией',
            cols: [false,false,true]
        },
        {
            text: 'Ремонт торгового оборудования на месте (при наличии запчастей)',
            cols: [false,false,true]
        },
        {
            text: 'Установка подменного оборудования на время ремонта',
            cols: [false,false,true]
        }
    ];
-
    var tarifsServicesM1 = [
        {
            text: 'Консультации по любым средствам связи, в том числе удаленное подключение к оборудованию клиента (при технической возможности)',
            cols: true
        },
        {
            text: 'Выезд специалиста на территорию клиента для проведения технического обслуживания торгового оборудования',
            cols: true
        },
        {
            text: 'Диагностика неисправности удаленно и на территории клиента',
            cols: true
        },
        {
            text: 'Доставка неисправного оборудования в сервисный центр и обратно',
            cols: true
        },
        {
            text: 'Поддержка товароучетной системы на торговом объекте',
            cols: false
        },
        {
            text: 'Поддержка обмена с торговым оборудованием',
            cols: false
        },
        {
            text: 'Поддержка принтера этикеток и МФУ',
            cols: false
        },
        {
            text: 'Поддержка весов с печатью этикеток и ТСД',
            cols: false
        },
        {
            text: 'Поддержка работы с ЕГАИС',
            cols: false
        },
        {
            text: 'Поддержка работы с маркированной продукцией',
            cols: false
        },
        {
            text: 'Ремонт торгового оборудования на месте (при наличии запчастей)',
            cols: false
        },
        {
            text: 'Установка подменного оборудования на время ремонта',
            cols: false
        }
    ];
-
    var tarifsServicesM2 = [
        {
            text: 'Консультации по любым средствам связи, в том числе удаленное подключение к оборудованию клиента (при технической возможности)',
            cols: true
        },
        {
            text: 'Выезд специалиста на территорию клиента для проведения технического обслуживания торгового оборудования',
            cols: true
        },
        {
            text: 'Диагностика неисправности удаленно и на территории клиента',
            cols: true
        },
        {
            text: 'Доставка неисправного оборудования в сервисный центр и обратно',
            cols: true
        },
        {
            text: 'Поддержка товароучетной системы на торговом объекте',
            cols: true
        },
        {
            text: 'Поддержка обмена с торговым оборудованием',
            cols: true
        },
        {
            text: 'Поддержка принтера этикеток и МФУ',
            cols: true
        },
        {
            text: 'Поддержка весов с печатью этикеток и ТСД',
            cols: true
        },
        {
            text: 'Поддержка работы с ЕГАИС',
            cols: false
        },
        {
            text: 'Поддержка работы с маркированной продукцией',
            cols: false
        },
        {
            text: 'Ремонт торгового оборудования на месте (при наличии запчастей)',
            cols: false
        },
        {
            text: 'Установка подменного оборудования на время ремонта',
            cols: false
        }
    ];
-
    var tarifsServicesM3 = [
        {
            text: 'Консультации по любым средствам связи, в том числе удаленное подключение к оборудованию клиента (при технической возможности)',
            cols: true
        },
        {
            text: 'Выезд специалиста на территорию клиента для проведения технического обслуживания торгового оборудования',
            cols: [true,true,true]
        },
        {
            text: 'Диагностика неисправности удаленно и на территории клиента',
            cols: true
        },
        {
            text: 'Доставка неисправного оборудования в сервисный центр и обратно',
            cols: true
        },
        {
            text: 'Поддержка товароучетной системы на торговом объекте',
            cols: true
        },
        {
            text: 'Поддержка обмена с торговым оборудованием',
            cols: true
        },
        {
            text: 'Поддержка принтера этикеток и МФУ',
            cols: true
        },
        {
            text: 'Поддержка весов с печатью этикеток и ТСД',
            cols: true
        },
        {
            text: 'Поддержка работы с ЕГАИС',
            cols: true
        },
        {
            text: 'Поддержка работы с маркированной продукцией',
            cols: true
        },
        {
            text: 'Ремонт торгового оборудования на месте (при наличии запчастей)',
            cols: true
        },
        {
            text: 'Установка подменного оборудования на время ремонта',
            cols: true
        }
    ];
-
    var tarifsPrice = [
        {
            title: 'Стоимость',
            rows: [
                {
                    text: 'Торговый объект с 1 кассовым местом (цена за квартал)',
                    price: ['1 500 руб.','3 000 руб.','5 000 руб.']
                },
                {
                    text: 'Дополнительное рабочее место (от 2-х до 5-ти)',
                    price: ['1 200 руб.','1 500 руб.','2 500 руб.']
                },
                {
                    text: 'Дополнительное рабочее место (свыше 5-ти)',
                    price: ['1000 руб.','1 300 руб.','2 000 руб.']
                },
            ]
        },
        {
            title: 'Стоимость дополнительных услуг при договоре на техническое обслуживание',
            rows: [
                {
                    text: 'Регистрация ККТ',
                    price: ['2 000 руб.','1 600 руб.','1 200 руб.']
                },
                {
                    text: 'Перепрошивка ККТ (не включая стоимость лицензии)',
                    price: ['1 500 руб.','1 200 руб.','1 000 руб.']
                },
                {
                    text: 'Изготовление ЭЦП',
                    price: ['2 000 руб.','1 600 руб.','1 200 руб.']
                },
                {
                    text: 'Замена ФН (не включая стоимость ФН), выезд бесплатный',
                    price: ['1 500 руб.','1 200 руб.','1 000 руб.']
                },
                {
                    text: 'Подключение к личному кабинету ОФД (руб. за год)',
                    price: ['2 500 руб.','2 200 руб.','2 000 руб.']
                },
                {
                    text: 'Скидка на ремонтные работы оборудования нашим сервисным центром, % (скидка не предоставляется при отправке в сервисный центр при заводе-изготовителе)',
                    price: ['5%','7%','10%']
                },
                {
                    text: 'Скидка на работы по автоматизации и обучению',
                    price: ['10%','15%','20%']
                },
                {
                    text: 'Время реагирования на заявку по ремонту (Рабочее время по будням с 10 до 19 часов)',
                    price: ['24 часа','7 рабочих часов','4 рабочих часа']
                },
                {
                    text: 'Обслуживание автономной кассы (в квартал)',
                    price: ['1 500 руб.','3 000 руб.','5 000 руб.']
                }
            ]
        }
    ];
-
    var tarifsPriceM1 = [
        {
            title: 'Стоимость',
            rows: [
                {
                    text: 'Торговый объект с 1 кассовым местом (цена за квартал)',
                    price: '1 500 руб.'
                },
                {
                    text: 'Дополнительное рабочее место (от 2-х до 5-ти)',
                    price: '1 200 руб.'
                },
                {
                    text: 'Дополнительное рабочее место (свыше 5-ти)',
                    price: '1000 руб.'
                },
            ]
        },
        {
            title: 'Стоимость дополнительных услуг при договоре на техническое обслуживание',
            rows: [
                {
                    text: 'Регистрация ККТ',
                    price: '2 000 руб.'
                },
                {
                    text: 'Перепрошивка ККТ (не включая стоимость лицензии)',
                    price: '1 500 руб.'
                },
                {
                    text: 'Изготовление ЭЦП',
                    price: '2 000 руб.'
                },
                {
                    text: 'Замена ФН (не включая стоимость ФН), выезд бесплатный',
                    price: '1 500 руб.'
                },
                {
                    text: 'Подключение к личному кабинету ОФД (руб. за год)',
                    price: '2 500 руб.'
                },
                {
                    text: 'Скидка на ремонтные работы оборудования нашим сервисным центром, % (скидка не предоставляется при отправке в сервисный центр при заводе-изготовителе)',
                    price: '5%'
                },
                {
                    text: 'Скидка на работы по автоматизации и обучению',
                    price: '10%'
                },
                {
                    text: 'Время реагирования на заявку по ремонту (Рабочее время по будням с 10 до 19 часов)',
                    price: '24 часа'
                },
                {
                    text: 'Обслуживание автономной кассы (в квартал)',
                    price: '1 500 руб.'
                }
            ]
        }
    ];
-
    var tarifsPriceM2 = [
        {
            title: 'Стоимость',
            rows: [
                {
                    text: 'Торговый объект с 1 кассовым местом (цена за квартал)',
                    price: '3 000 руб.'
                },
                {
                    text: 'Дополнительное рабочее место (от 2-х до 5-ти)',
                    price: '1 500 руб.'
                },
                {
                    text: 'Дополнительное рабочее место (свыше 5-ти)',
                    price: '1 300 руб.'
                },
            ]
        },
        {
            title: 'Стоимость дополнительных услуг при договоре на техническое обслуживание',
            rows: [
                {
                    text: 'Регистрация ККТ',
                    price: '1 600 руб.'
                },
                {
                    text: 'Перепрошивка ККТ (не включая стоимость лицензии)',
                    price: '1 200 руб.'
                },
                {
                    text: 'Изготовление ЭЦП',
                    price: '1 600 руб.'
                },
                {
                    text: 'Замена ФН (не включая стоимость ФН), выезд бесплатный',
                    price: '1 200 руб.'
                },
                {
                    text: 'Подключение к личному кабинету ОФД (руб. за год)',
                    price: '2 200 руб.'
                },
                {
                    text: 'Скидка на ремонтные работы оборудования нашим сервисным центром, % (скидка не предоставляется при отправке в сервисный центр при заводе-изготовителе)',
                    price: '7%'
                },
                {
                    text: 'Скидка на работы по автоматизации и обучению',
                    price: '15%'
                },
                {
                    text: 'Время реагирования на заявку по ремонту (Рабочее время по будням с 10 до 19 часов)',
                    price: '7 рабочих часов'
                },
                {
                    text: 'Обслуживание автономной кассы (в квартал)',
                    price: '3 000 руб.'
                }
            ]
        }
    ];
-
    var tarifsPriceM3 = [
        {
            title: 'Стоимость',
            rows: [
                {
                    text: 'Торговый объект с 1 кассовым местом (цена за квартал)',
                    price: '5 000 руб.'
                },
                {
                    text: 'Дополнительное рабочее место (от 2-х до 5-ти)',
                    price: '2 500 руб.'
                },
                {
                    text: 'Дополнительное рабочее место (свыше 5-ти)',
                    price: '2 000 руб.'
                },
            ]
        },
        {
            title: 'Стоимость дополнительных услуг при договоре на техническое обслуживание',
            rows: [
                {
                    text: 'Регистрация ККТ',
                    price: '1 200 руб.'
                },
                {
                    text: 'Перепрошивка ККТ (не включая стоимость лицензии)',
                    price: '1 000 руб.'
                },
                {
                    text: 'Изготовление ЭЦП',
                    price: '1 200 руб.'
                },
                {
                    text: 'Замена ФН (не включая стоимость ФН), выезд бесплатный',
                    price: '1 000 руб.'
                },
                {
                    text: 'Подключение к личному кабинету ОФД (руб. за год)',
                    price: '2 000 руб.'
                },
                {
                    text: 'Скидка на ремонтные работы оборудования нашим сервисным центром, % (скидка не предоставляется при отправке в сервисный центр при заводе-изготовителе)',
                    price: '10%'
                },
                {
                    text: 'Скидка на работы по автоматизации и обучению',
                    price: '20%'
                },
                {
                    text: 'Время реагирования на заявку по ремонту (Рабочее время по будням с 10 до 19 часов)',
                    price: '4 рабочих часа'
                },
                {
                    text: 'Обслуживание автономной кассы (в квартал)',
                    price: '5 000 руб.'
                }
            ]
        }
    ];
-
    var doptions = [
        {
            title: 'Безналичный расчет',
            list: [
                {
                    text: 'Оплата по банковскому счету',
                    src: 'images/icons/icon_pay_01.svg'
                },
                {
                    text: 'Банковской картой курьеру логической компании (наложенный платеж) при оформлении досавки заказа',
                    src: 'images/icons/icon_pay_02.svg'
                }
            ]
        },
        {
            title: 'Наличный расчет',
            list: [
                {
                    text: 'При получении заказа самовывозом в центральном офисе',
                    src: 'images/icons/icon_pay_03.svg'
                },
                {
                    text: 'Наложенным платежом при оформлении доставки логической компанией',
                    src: 'images/icons/icon_pay_04.svg'
                }
            ]
        },

    ];
-
    var warrantyList = [
        'Условия гарантии на товар указаны в описании товара. ',
        'Продолжительность гарантии указана в соответствующей характеристике товара',
        'Поставщик грантирует качество поставляемого товара в соответствии с действующим закоодательством РФ и условиями исполнения гарнтийных обязательств, установленными производителем товара. Условия исполннения гарантийных обязательств указываются в паспорте изделия, прилагаемом к товару.',
        'Товары надлежащего качества возврату и обмену не подлежат.'
    ];
-
    var warrantyList2 = [
        'Производственный брак (гарантийный случай) Товара после получения технического заключения Сервисного Центра Поставщика при условии сохранности товарного вида и комплектности товара, согласно ст. 476 ГК РФ',
        'Расхождение по артикулу и комплектации Товара при условии обнаружения Нарушения условий в момент приемки товара.'
    ];
-
    var aadvs = [
        {
            title: 'Увеличение прибыли',
            text: 'Прозрачный управленческий и финансовый учет. Мгновенное формирование отчетности. Наглядная статистика для управления маркетингом. Возможность централизованного управления целой сетью магазинов и многое другое',
            src: 'images/icons/Icon_uslugi_11.svg'
        },
        {
            title: 'Сокращение расходов',
            text: 'Специальные инструменты для поддержания оптимального уровня запасов и инвентаризации. Управление взаимоотношениями с поставщиками, контроль ассортимента и закупочных цен. Оптимизация фонда оплаты труда',
            src: 'images/icons/Icon_uslugi_12.svg'
        },
        {
            title: 'Эффективное управление',
            text: 'Возможность следить за состоянием дел в торговом зале и анализировать эффективность предприятия на основе полученных статистических данных. Своевременное расширение ассортимента и увеличение товарооборота',
            src: 'images/icons/Icon_uslugi_13.svg'
        },
        {
            title: 'Удаленный контроль',
            text: 'Круглосуточный доступ к информации и ключевым показателям. Оперативно принимайте решения и проводите необходимые операции в тот самый момент, когда это действительно важно для работы Вашего предприятия',
            src: 'images/icons/Icon_uslugi_14.svg'
        },
        {
            title: 'Довольные клиенты',
            text: 'Увеличение лояльности покупателей за счет оптимизации, повышения качества и скорости их обслуживания, внедрения гибких дисконтных систем, позволяющих перевести их в ранг постоянных и привлекать еще больше клиентов',
            src: 'images/icons/Icon_uslugi_15.svg'
        },
        {
            title: 'Безопасность',
            text: 'Благодаря торговой автоматизации учет товара станет легче и точнее. Строгий контроль остатков предотвратит хищения среди персонала, позволит контролировать состояние товарных остатков и своевременно пополнять ассортимент',
            src: 'images/icons/Icon_uslugi_16.svg'
        },

    ];
-
    var ireadyLinks = [
        [
            'Продуктовый магазин ',
            'Алкогольный магазин',
            'Пивной магазин',
            'Магазин одежды и обуви ',
            'Аптека',
            'Хозяйственный магазин ',
            'Ювелирный магазин'
        ],
        [
            'Цветочный магазин',
            'Магазин стройматериалов',
            'Книжный магазин ',
            'Косметический магазин',
            'Магазин автозапчастей',
            'Зоомагазин'
        ]
    ];
-
    var ahow = [
        {
            left: {
                text:'Предварительное исследование и <br> консультирование',
                src: 'images/icons/Icon_uslugi_01.svg'
            },
            right: {
                text:'Проведение <br> пусконаладочных работ',
                src: 'images/icons/Icon_uslugi_04.svg'
            }
        },
        {
            left: {
                text:'Подбор всего комплекса <br> необходимого торгового <br> оборудования',
                src: 'images/icons/Icon_uslugi_02.svg'
            },
            right: {
                text:'Обучение персонала <br> и техническая поддержка',
                src: 'images/icons/Icon_uslugi_05.svg'
            }
        },
        {
            left:{
                text:'Доставка и монтаж <br> оборудования',
                src: 'images/icons/Icon_uslugi_03.svg'
            },
            right:{
                text:'Гарантийное <br> и послегарантийное сервисное <br> обслуживание',
                src: 'images/icons/Icon_uslugi_06.svg'
            }
        }
    ];
-
    var auslugi = [
        {
            title: 'Установка и настройка товароучетной программы с заполнением данных организации',
            price: '3 500 руб.'
        },
        {
            title: 'Подключение фискального регистратора',
            price: '4 500 руб.'
        },
        {
            title: 'Подключение электронных весов',
            price: '1 500 руб.'
        },
        {
            title: 'Подключение принтера этикеток, настройка шаблонов этикетки',
            price: '2 500 руб.'
        },
        {
            title: 'Подключение электронных весов',
            price: '1 500 руб.'
        },
        {
            title: 'Подключение принтера этикеток, настройка шаблонов этикетки',
            price: '2 500 руб.'
        },
        {
            title: 'Установка и настройка товароучетной программы с заполнением данных организации',
            price: '3 500 руб.'
        },
        {
            title: 'Подключение фискального регистратора',
            price: '4 500 руб.'
        }
    ];
-
    var zonesSws = [
        {
            title: 'Кассовая зона',
            dopClass: 'active'
        },
        {
            title: 'Торговый зал',
        },
        {
            title: 'Склад',
        },

    ];
-
    var zoneList = [
        {
            left: {
                title: 'POS-система',
                count: 1
            },
            right: {
                title: 'Кассовая программа\n',
                count: 6
            }
        },
        {
            left: {
                title: 'Сканер штрих-кода',
                count: 2
            },
            right: {
                title: 'Фискальный регистратор',
                count: 7
            }
        },
        {
            left: {
                title: 'Весы фасовочные с печатью этикеток',
                count: 3
            },
            right: {
                title: 'Денежный ящик',
                count: 8
            }
        },
        {
            left: {
                title: 'Дисплей покупателя',
                count: 4
            },
            right: {
                title: 'Эквайринг',
                count: 9
            }
        },
        {
            left: {
                title: 'детектор валют',
                count: 5
            }
        }
    ];
-
    var zoneListT = [
        [
           {
                title: 'POS-система',
                count: 1
            },
            {
                title: 'Кассовая программа\n',
                count: 6
            },
            {
                title: 'Фискальный регистратор',
                count: 7
            }
        ],
        [
           {
                title: 'Сканер штрих-кода',
                count: 2
            },
            {
                title: 'Дисплей покупателя',
                count: 4
            },
            {
                title: 'Денежный ящик',
                count: 8
            }
        ],
        [
            {
                title: 'Весы фасовочные с печатью этикеток',
                count: 3
            },
            {
                title: 'детектор валют',
                count: 5
            },
            {
                title: 'Эквайринг',
                count: 9
            }
        ]
    ];
-
    var zoneListM = [

           {
                title: 'POS-система',
                count: 1
            },
            {
            title: 'Сканер штрих-кода',
            count: 2
            },
            {
            title: 'Весы фасовочные с печатью этикеток',
            count: 3
            },
            {
            title: 'Дисплей покупателя',
            count: 4
            },
            {
            title: 'детектор валют',
            count: 5
            },
            {
                title: 'Кассовая программа\n',
                count: 6
            },
            {
                title: 'Фискальный регистратор',
                count: 7
            },
            {
                title: 'Денежный ящик',
                count: 8
            },
            {
                title: 'Эквайринг',
                count: 9
            }
    ];
-
    var marketSws = [
        {
            title: 'Базовый комплект',
            price: '125 500 ₽',
        },
        {
            title: 'Стандартный комплект',
            price: '210 000 ₽',
            dopClass: 'active'
        },
         {
            title: 'Премиум комплект',
            price: '320 000 ₽',
        }
    ];
-
    var mTab = [
        {
            title: 'Кассовая зона',
            place: {
                title: 'Рабочее место кассира',
                price: '62 730',
                list: [
                    {
                        src: 'images/content/services/supermarket/till/1.png',
                        title: 'POS-система "ШТРИХ-LightPOS WinCE 6.0" R2',
                        price: '42 400'
                    },
                    {
                        src: 'images/content/services/supermarket/till/2.png',
                        title: 'Фиксальный накопитель ККТ "РР - 03Ф"',
                        price: '7 200'
                    },
                    {
                        src: 'images/content/services/supermarket/till/3.png',
                        title: 'Чековый принтер "Sewoo LK-T12"',
                        price: '13 130'
                    },

                ]
            },
            items: [
                {
                    src: 'images/content/services/supermarket/till/4.png',
                    title: 'Программное обеспечение'
                }
            ]
        },
        {
            title: 'Торговый зал',
            items: [
                {
                    src: 'images/content/services/supermarket/hall/1.png',
                    title: '"Электронная отчетность" со встроенной лицензией КриптоПро CSP (комплект)',
                    price: '42 400'
                },
                 {
                    src: 'images/content/services/supermarket/hall/2.png',
                    title: 'Информационный киоск "ШТРИХ-INFO" v3.0',
                    price: '42 400'
                }
            ]
        },
        {
            title: 'Склад',
            place: {
            title: 'Рабочее место товароведа',
            price: '62 730',
            list: [
                {
                    src: 'images/content/services/supermarket/warehouse/1.png',
                    title: 'POS-система "ШТРИХ-LightPOS WinCE 6.0" R2',
                    price: '42 400'
                },
                {
                    src: 'images/content/services/supermarket/warehouse/2.png',
                    title: 'Фиксальный накопитель ККТ "РР - 03Ф"',
                    price: '7 200'
                },
                {
                    src: 'images/content/services/supermarket/warehouse/3.png',
                    title: 'Чековый принтер "Sewoo LK-T12"',
                    price: '13 130'
                },
             ]
        },
            items: [
                {
                    src: 'images/content/services/supermarket/warehouse/4.png',
                    title: 'Ручной image сканер штрих-кода Honeywell/Metrologic 1900 Xenon USB, без подставки',
                    price: '15 800'
                },
                {
                    src: 'images/content/services/supermarket/warehouse/5.png',
                    title: 'Системный блок DEPO Neos 260 Бухгалтер 2015/02'
                }
            ]
        },
        {
            title: 'Услуги',
            items: [
                {
                    src: 'images/content/services/supermarket/services/1.jpg',
                    title: 'Ручной image сканер штрих-кода Honeywell/Metrologic 1900 Xenon USB, без подставки',
                    price: '15 800'
                },
                {
                    src: 'images/content/services/supermarket/services/2.jpg',
                    title: 'Системный блок DEPO Neos 260 Бухгалтер 2015/02',
                    price: '1 400'
                }
            ]
        },

    ];
-
    var catalog = [
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '32 300',
            sticks: {
                enable: true,
                new: true,
                discount: true
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10... hskdj hskdfj hks hkjs hkfj hskj hkjh gskj ghskd sdfkhg khg ksdjh gskdjg hdkfj hskfj ghskdfj hskgjh',
            price: '224 800',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '12 100',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '27 300',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '27 300',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '32 300',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '32 300',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '12 100',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '27 300',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '32 300',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '27 300',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        },
        {
            title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
            price: '12 100',
            sticks: {
                enable: true,
                new: false,
                discount: false
            }
        }
    ];
-
    var cmenu = [

        {
            title: 'Торговое оборудование',
            list: [
                {
                title: 'Онлайн-кассы (54 ФЗ) ',
                open: true,
                dopClass: 'sub open',
                sublist: [
                'Автономные кассы',
                'Фискальные регистраторы'
                ]
                },
                {
                title: 'POS-системы',
                },
                {
                title: 'POS-переферия',
                dopClass: 'sub',
                sublist: [
                'Раздел1',
                'Раздел2'
                ]
                },
                {
                title: 'Штрих-код оборудование',
                dopClass: 'sub',
                sublist: [
                'Раздел1',
                'Раздел2'
                ]
                },
                {
                title: 'Весовое оборудование',
                dopClass: 'sub',
                sublist: [
                'Раздел1',
                'Раздел2'
                ]
                },
                {
                title: 'Банковское оборудование',
                dopClass: 'sub',
                sublist: [
                'Раздел1',
                'Раздел2'
                ]
                },
                {
                title: 'Информационные киоски',
                dopClass: 'sub',
                sublist: [
                'Раздел1',
                'Раздел2'
                ]
                },
                {
                title: 'Кассовые боксы ',
                },
                {
                title: 'Упаковочное оборудование ',
                },
                {
                title: 'Расходные материалы',
                dopClass: 'sub',
                sublist: [
                'Раздел1',
                'Раздел2'
                ]
                },
                {
                title: 'Фискальные накопители',
                },
                {
                title: 'Системы оповещения ',
                dopClass: 'sub',
                sublist: [
                'Раздел1',
                'Раздел2'
                ]
                },
                {
                title: 'Аксессуары',
                },
                {
                title: 'ЗИП',
                },
            ]
        },
        {
            title: 'Программное обеспечение',
            list: [
                {
                title: 'Front-office (кассовое) ',
                },
                {
                title: 'Back-office (товароучетное) ',
                },
                {
                title: 'Облачные решения',
                },
            ]
        },


    ];
-
    var pTable = [
        ['Категория товара','Фиксальные регистраторы'],
        ['Цвет','Черный'],
        ['Фиксльный накопитель','Штрих-М'],
        ['Модель ККТ','Нет'],
        ['Ширина чековой ленты','57 мм'],
        ['Возможность печати QR-кода','Есть'],
        ['Возможность печати графики','Есть'],
        ['USB','ДА'],
        ['Подерживаемые операционные системы','Win 7, Win 9, Win 2000, Linux']
    ];
-
    var pKits = [
        {
            title: 'Интерфейсы',
            name: 'gui',
            list: [
                {
                    val: 'RS-232, USB',
                    checked: true
                },
                {
                    val: 'USB, Wi-Fi',
                },

            ],
        },
        {
            title: 'Фиксальный накопитель',
            name: 'storage',
            list: [
                {
                    val: 'Без ФН',
                },
                {
                    val: '36 месяцев',
                    checked: true
                },
                {
                    val: '15 месяцев',
                },

            ],
        },
        {
            title: 'Операционная система',
            name: 'os',
            list: [
                {
                    val: 'Нет',
                },
                {
                    val: 'Android',
                    checked: true
                },

            ],
        },

    ];
-
    var pDops =  [
        {
            val: 'Регистрация ККТ в ИФНС ',
            price: '3 500'
        },
        {
            val: 'Изготовление ЭЦП/КЭП для подключения к ОФД',
            price: '3 500'
        },
        {
            val: 'Подключение к ОФД на 12 месяцев',
            price: '2 000',
            checked: true
        },
        {
            val: 'Подключение фискального регистратора ',
            price: ' 5 500',
            checked: true
        },
        {
            val: 'Подключение сканера штрихкода',
            price: '5 500'
        },
        {
            val: 'Техническое обслуживание',
            price: '2 500',
            checked: true,
            dopClass: 'bold',
            list: [
                {
                    val: 'Базовый',
                    price: '2500',
                    checked: true
                },
                {
                    val: 'Стандартный',
                    price: '3500'
                },
                {
                    val: 'Премиум',
                    price: '4500'
                }
            ]
        }
    ];
-
    var pSame = [
    {
    title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
    price: '32 300',
    sticks: {
    enable: true,
    new: true,
    discount: true
    }
    },
    {
    title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10... hskdj hskdfj hks hkjs hkfj hskj hkjh gskj ghskd sdfkhg khg ksdjh gskdjg hdkfj hskfj ghskdfj hskgjh',
    price: '224 800',
    sticks: {
    enable: true,
    new: false,
    discount: false
    }
    },
    {
    title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
    price: '12 100',
    sticks: {
    enable: true,
    new: false,
    discount: false
    }
    },
    {
    title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
    price: '27 300',
    sticks: {
    enable: true,
    new: false,
    discount: false
    }
    },
    ];
-
    var cartList = [
        {
            title: 'Товар',
            type: 'product',
            list: [
                {
                    title: 'Модернизация ККТ № 1 ШТРИХ-М-ФР-К / ШТРИХ-М-ПТК до ШТРИХ-М-02Ф (Ethernet + USB)',
                    src: 'images/content/product/1.png',
                    price: '17 500'
                },
                {
                    title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
                    src: 'images/content/catalog/1.png',
                    price: '17 500'
                }
            ]
        },
        {
            title: 'Услуга',
            type: 'service',
            list: [
                {
                    title: 'Регистрация ККТ в ИФНС',
                    src: 'images/content/services/1.png',
                    price: '1 500'
                },
                {
                    title: 'Изготовление ЭЦП/КЭП для подключения к ОФД',
                    src: 'images/content/services/2.png',
                    price: '2 500'
                }
            ]
        }
    ];
-
    var search ={
        products: [
        {
        title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
        price: '32 300',
        sticks: {
        enable: true,
        new: true,
        discount: true
        }
        },
        {
        title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10... hskdj hskdfj hks hkjs hkfj hskj hkjh gskj ghskd sdfkhg khg ksdjh gskdjg hdkfj hskfj ghskdfj hskgjh',
        price: '224 800',
        sticks: {
        enable: true,
        new: false,
        discount: false
        }
        },
        {
        title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
        price: '12 100',
        sticks: {
        enable: true,
        new: false,
        discount: false
        }
        },
        {
        title: 'POS-система VIOTEH "Колибри" 9" IPS 1280х800, 1.83ГГц / 4ядра, DDR3L 2Гб, 32Гб, Win10...',
        price: '27 300',
        sticks: {
        enable: true,
        new: false,
        discount: false
        }
        },
        ],
        services: [
            {
                src: 'images/content/search/5.png',
                title: 'Зачем нужна онлайн касса?',
                text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. В то время некий безымянный печатник создал большую коллекцию размеров и форм...'
            },
            {
                src: 'images/content/search/6.png',
                title: 'Онлайн касса',
                text: 'Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. В то время некий безымянный печатник создал большую коллекцию размеров и форм...'
            },

        ]
    };
-
    var mmenu = {
        title: 'Меню',
        citys: [
            'Москва',
            'Санкт-Петербург',
            'Нижний Новгород'
        ],
        list: [
            {
                title: 'Каталог',
                link: 'catalog.html',
                type: 'left',
                list: [
                    {
                        title: 'Торговое оборудование',
                        link: 'catalog.html',
                        list: [
                            {
                                title: 'Front-office (кассовое)',
                                link: 'catalog.html'
                            },
                            {
                                title: 'Back-office (товароучетное)',
                                link: 'catalog.html'
                            },
                            {
                                title: 'Облачные решения',
                                link: 'catalog.html'
                            }
                        ]
                    },
                    {
                        title: 'Программное обеспечение',
                        link: 'catalog.html',
                        list: [
                            {
                                title: 'Front-office (кассовое)',
                                link: 'catalog.html'
                            },
                            {
                                title: 'Back-office (товароучетное)',
                                link: 'catalog.html'
                            },
                            {
                                title: 'Облачные решения',
                                link: 'catalog.html'
                            }
                        ]
                    }
                ]
            },
            {
                title: 'Автоматизация',
                link: 'auto.html'
            },
            {
                title: 'Услуги',
                link: 'uslugi.html',
                type: 'left',
                list: [
                    {
                        title: 'Торговое оборудование',
                        link: 'catalog.html',
                        list: [
                            {
                                title: 'Front-office (кассовое)',
                                link: 'catalog.html'
                            },
                            {
                                title: 'Back-office (товароучетное)',
                                link: 'catalog.html'
                            },
                            {
                                title: 'Облачные решения',
                                link: 'catalog.html'
                            }
                        ]
                    },
                    {
                        title: 'Программное обеспечение',
                        link: 'catalog.html',
                        list: [
                            {
                                title: 'Front-office (кассовое)',
                                link: 'catalog.html'
                            },
                            {
                                title: 'Back-office (товароучетное)',
                                link: 'catalog.html'
                            },
                            {
                                title: 'Облачные решения',
                                link: 'catalog.html'
                            }
                        ]
                    },

                ]
            },
            {
                title: 'обслуживание',
                link: '/'
            },
            {
                title: 'ЕГАИС',
                link: '/',
            },
            {
                title: 'ФГИС Меркурий',
                link: '/',
            },
            {
                title: 'Маркировка',
                link: '/',
            },
            {
                title: 'ЭЦП',
                link: '/',
            },
            {
                title: 'блог',
                dopClass: 'light',
                link: '/',
            },
            {
                title: 'Партнеры',
                link: '/',
                dopClass: 'light'
            },
            {
                title: 'Доставка и оплата',
                link: 'delivery.html',
                dopClass: 'light'
            },
            {
                title: 'Гарантия и возврат',
                link: 'delivery.html',
                dopClass: 'light'
            },
            {
                title: '54-ФЗ',
                link: '/',
                dopClass: 'light'
            },
            {
                title: 'Оставить отзыв',
                link: '/',
                dopClass: 'light'
            }
        ]
    }