-
    var headerMenu = [
    {
    title: 'Доставка и оплата',
    href: '/'
    },
    {
    title: 'Гарантия и возврат',
    href: '/'
    },
    {
    title: '54-ФЗ',
    href: '/'
    },
    {
    title: 'Оставить отзыв',
    href: '/'
    }
    ];
-
    var nav = [
        {
            title: 'Каталог',
            href: '/',
            dopClass: 'active nav__item_subnav',
            subnav: {
                title: 'Торговое оборудование',
                list: {
                    title: 'Программное обеспечение',
                    items: [
                        'Front-office (кассовое) ',
                        'Back-office (товароучетное) ',
                        'Облачные решения'
                    ]
                },
                rows: [
                    [
                        {
                            title: 'Онлайн-кассы (54 ФЗ)',
                            items: ['Автономные кассы', 'Фискальные регистраторы']
                        },
                        {
                            title: 'POS-системы',
                        },
                        {
                            title: 'POS-переферия',
                            items: ['POS-терминалы', 'POS-компьютеры', 'POS-мониторы', 'Дисплеи покупателя', 'Чековые принтеры ', 'Денежные ящики', 'Программируемые клавиатуры', 'Ридеры магнитных карт']
                        },
                        {
                            title: 'Весовое оборудование',
                            items: ['Весы с подключением к компьютеру ', 'Весы с печатью этикеток', 'Весы торговые', 'Весы порционные', 'Весы напольные']
                        },
                    ],
                    [
                        {
                            title: 'Штрих-код оборудование ',
                            items: ['Сканеры штрих-кода', 'Принтеры этикеток', 'Терминалы сбора данных (ТСД)']
                        },
                        {
                            title: 'Банковское оборудование ',
                            items: ['Терминалы для эквайринга', 'Детекторы валют', 'Счетчики банкнот', 'Счетно-сортировальные машины', 'Темпо-кассы']
                        },
                        {
                            title: 'Упаковочное оборудование'
                        },
                        {
                            title: 'Информационные киоски'
                        },
                        {
                            title: 'Системы оповещения',
                            items: ['Кнопки вызова', 'Приемники вызовов ', 'Табло вызовов', 'Усилители сигнала']
                        },
                    ],
                    [
                        {
                            title: 'Расходные материалы',
                            items: ['Чековая лента', 'Этикет лента']
                        },
                        {
                            title: 'Фискальные накопители'
                        },
                        {
                            title: 'Аксессуары'
                        }
                    ]
                ]
            }
        },
        {
            title: 'Автоматизация',
            href: '/'
        },
        {
            title: 'Услуги',
            href: '/',
            dopClass: 'nav__item_subnav',
            subnav: {
                title: 'Торговое оборудование',
                list: {
                title: 'Программное обеспечение',
                items: [
                'Front-office (кассовое) ',
                'Back-office (товароучетное) ',
                'Облачные решения'
                ]
                },
                rows: [
                [
                {
                title: 'Онлайн-кассы (54 ФЗ)',
                items: ['Автономные кассы', 'Фискальные регистраторы']
                },
                {
                title: 'POS-системы',
                },
                {
                title: 'POS-переферия',
                items: ['POS-терминалы', 'POS-компьютеры', 'POS-мониторы', 'Дисплеи покупателя', 'Чековые принтеры ', 'Денежные ящики', 'Программируемые клавиатуры', 'Ридеры магнитных карт']
                },
                {
                title: 'Весовое оборудование',
                items: ['Весы с подключением к компьютеру ', 'Весы с печатью этикеток', 'Весы торговые', 'Весы порционные', 'Весы напольные']
                },
                ],
                [
                {
                title: 'Штрих-код оборудование ',
                items: ['Сканеры штрих-кода', 'Принтеры этикеток', 'Терминалы сбора данных (ТСД)']
                },
                {
                title: 'Банковское оборудование ',
                items: ['Терминалы для эквайринга', 'Детекторы валют', 'Счетчики банкнот', 'Счетно-сортировальные машины', 'Темпо-кассы']
                },
                {
                title: 'Упаковочное оборудование'
                },
                {
                title: 'Информационные киоски'
                },
                {
                title: 'Системы оповещения',
                items: ['Кнопки вызова', 'Приемники вызовов ', 'Табло вызовов', 'Усилители сигнала']
                },
                ],
                [
                {
                title: 'Расходные материалы',
                items: ['Чековая лента', 'Этикет лента']
                },
                {
                title: 'Фискальные накопители'
                },
                {
                title: 'Аксессуары'
                }
                ]
                ]
            }
        },
        {
            title: 'обслуживание',
            href: '/'
        },
        {
            title: 'егаис',
            href: '/'
        },
        {
            title: 'ФГИС МЕРКУРИЙ',
            href: '/'
        },
        {
            title: 'МАРКИРОВКА',
            href: '/'
        },


    ];