-
    var headerMenu = [
    {
    title: 'Доставка и оплата',
    href: '/'
    },
    {
    title: 'Гарантия и возврат',
    href: '/'
    },
    {
    title: '54-ФЗ',
    href: '/'
    },
    {
    title: 'Оставить отзыв',
    href: '/'
    }
    ];
-
    var nav = [
        {
            title: 'Каталог',
            href: '/',
            dopClass: 'active nav__item_subnav',
            subnav: {
                title: 'Торговое оборудование',
                list: {
                    title: 'Программное обеспечение',
                    items: [
                        'Front-office (кассовое) ',
                        'Back-office (товароучетное) ',
                        'Облачные решения'
                    ]
                },
                rows: [
                    [
                        {
                            title: 'Онлайн-кассы (54 ФЗ)',
                            items: ['Автономные кассы', 'Фискальные регистраторы']
                        },
                        {
                            title: 'POS-системы',
                        },
                        {
                            title: 'POS-переферия',
                            items: ['POS-терминалы', 'POS-компьютеры', 'POS-мониторы', 'Дисплеи покупателя', 'Чековые принтеры ', 'Денежные ящики', 'Программируемые клавиатуры', 'Ридеры магнитных карт']
                        },
                        {
                            title: 'Весовое оборудование',
                            items: ['Весы с подключением к компьютеру ', 'Весы с печатью этикеток', 'Весы торговые', 'Весы порционные', 'Весы напольные']
                        },
                    ],
                    [
                        {
                            title: 'Штрих-код оборудование ',
                            items: ['Сканеры штрих-кода', 'Принтеры этикеток', 'Терминалы сбора данных (ТСД)']
                        },
                        {
                            title: 'Банковское оборудование ',
                            items: ['Терминалы для эквайринга', 'Детекторы валют', 'Счетчики банкнот', 'Счетно-сортировальные машины', 'Темпо-кассы']
                        },
                        {
                            title: 'Упаковочное оборудование'
                        },
                        {
                            title: 'Информационные киоски'
                        },
                        {
                            title: 'Системы оповещения',
                            items: ['Кнопки вызова', 'Приемники вызовов ', 'Табло вызовов', 'Усилители сигнала']
                        },
                    ],
                    [
                        {
                            title: 'Расходные материалы',
                            items: ['Чековая лента', 'Этикет лента']
                        },
                        {
                            title: 'Фискальные накопители'
                        },
                        {
                            title: 'Аксессуары'
                        }
                    ]
                ]
            }
        },
        {
            title: 'Автоматизация',
            href: '/'
        },
        {
            title: 'Услуги',
            href: '/',
            dopClass: 'nav__item_subnav',
            subnav: {
                title: 'Торговое оборудование',
                list: {
                title: 'Программное обеспечение',
                items: [
                'Front-office (кассовое) ',
                'Back-office (товароучетное) ',
                'Облачные решения'
                ]
                },
                rows: [
                [
                {
                title: 'Онлайн-кассы (54 ФЗ)',
                items: ['Автономные кассы', 'Фискальные регистраторы']
                },
                {
                title: 'POS-системы',
                },
                {
                title: 'POS-переферия',
                items: ['POS-терминалы', 'POS-компьютеры', 'POS-мониторы', 'Дисплеи покупателя', 'Чековые принтеры ', 'Денежные ящики', 'Программируемые клавиатуры', 'Ридеры магнитных карт']
                },
                {
                title: 'Весовое оборудование',
                items: ['Весы с подключением к компьютеру ', 'Весы с печатью этикеток', 'Весы торговые', 'Весы порционные', 'Весы напольные']
                },
                ],
                [
                {
                title: 'Штрих-код оборудование ',
                items: ['Сканеры штрих-кода', 'Принтеры этикеток', 'Терминалы сбора данных (ТСД)']
                },
                {
                title: 'Банковское оборудование ',
                items: ['Терминалы для эквайринга', 'Детекторы валют', 'Счетчики банкнот', 'Счетно-сортировальные машины', 'Темпо-кассы']
                },
                {
                title: 'Упаковочное оборудование'
                },
                {
                title: 'Информационные киоски'
                },
                {
                title: 'Системы оповещения',
                items: ['Кнопки вызова', 'Приемники вызовов ', 'Табло вызовов', 'Усилители сигнала']
                },
                ],
                [
                {
                title: 'Расходные материалы',
                items: ['Чековая лента', 'Этикет лента']
                },
                {
                title: 'Фискальные накопители'
                },
                {
                title: 'Аксессуары'
                }
                ]
                ]
            }
        },
        {
            title: 'обслуживание',
            href: '/'
        },
        {
            title: 'егаис',
            href: '/'
        },
        {
            title: 'ФГИС МЕРКУРИЙ',
            href: '/'
        },
        {
            title: 'МАРКИРОВКА',
            href: '/'
        },


    ];
-
    var icats = [
        'Автономные онлайн-кассы (54-ФЗ)',
        'Фискальные регистраторы (54-ФЗ)',
        'POS-системы',
        'POS-терминалы',
        'POS-компьютеры',
        'POS-мониторы',
        'Дисплеи покупателя',
        'Чековые принтеры',
        'Денежные ящики',
        'Программируемые клавиатуры',
        'Весовое оборудование ',
        'Сканеры штрих-кода ',
        'Принтеры этикеток',
        'Терминалы сбора данных (ТСД) ',
        'Терминалы для эквайринга',
        'Детекторы валют',
        'Счетчики банкнот',
        'Раходные материалы',
        'Фискальные накопители',
        'Упаковочное оборудование',
        'Информационные киоски',
        'Системы оповещения',
        'Аксессуары',
        'Программное обеспечение'
    ]
-
    var iReadySws = [
        'Розничная торговля',
        'Общественное питание',
        'ЕГАИС',
        'Выездная торговля'
    ]
-
    var iReadyTabs2 = [
        {
            title: 'Супермаркет',
            text: 'Решение для крупных, универсальных, сетевых магазинов при наличии двух и более кассовых зон'
        },
         {
            title: 'Магазин',
            text: 'Решение для классических магазинов с самообслуживанием'
        },
         {
            title: 'Павильон',
            text: 'Решение для небольших торговых точек прилавочного типа'
        }
    ];