-
    var headerMenu = [
    {
    title: 'Доставка и оплата',
    href: '/'
    },
    {
    title: 'Гарантия и возврат',
    href: '/'
    },
    {
    title: '54-ФЗ',
    href: '/'
    },
    {
    title: 'Оставить отзыв',
    href: '/'
    }
    ];
-
    var nav = [
        {
            title: 'Каталог',
            href: '/',
            dopClass: 'active nav__item_subnav',
            subnav: {
                title: 'Торговое оборудование',
                list: {
                    title: 'Программное обеспечение',
                    items: [
                        'Front-office (кассовое) ',
                        'Back-office (товароучетное) ',
                        'Облачные решения'
                    ]
                },
                rows: [
                    [
                        {
                            title: 'Онлайн-кассы (54 ФЗ)',
                            items: ['Автономные кассы', 'Фискальные регистраторы']
                        },
                        {
                            title: 'POS-системы',
                        },
                        {
                            title: 'POS-переферия',
                            items: ['POS-терминалы', 'POS-компьютеры', 'POS-мониторы', 'Дисплеи покупателя', 'Чековые принтеры ', 'Денежные ящики', 'Программируемые клавиатуры', 'Ридеры магнитных карт']
                        },
                        {
                            title: 'Весовое оборудование',
                            items: ['Весы с подключением к компьютеру ', 'Весы с печатью этикеток', 'Весы торговые', 'Весы порционные', 'Весы напольные']
                        },
                    ],
                    [
                        {
                            title: 'Штрих-код оборудование ',
                            items: ['Сканеры штрих-кода', 'Принтеры этикеток', 'Терминалы сбора данных (ТСД)']
                        },
                        {
                            title: 'Банковское оборудование ',
                            items: ['Терминалы для эквайринга', 'Детекторы валют', 'Счетчики банкнот', 'Счетно-сортировальные машины', 'Темпо-кассы']
                        },
                        {
                            title: 'Упаковочное оборудование'
                        },
                        {
                            title: 'Информационные киоски'
                        },
                        {
                            title: 'Системы оповещения',
                            items: ['Кнопки вызова', 'Приемники вызовов ', 'Табло вызовов', 'Усилители сигнала']
                        },
                    ],
                    [
                        {
                            title: 'Расходные материалы',
                            items: ['Чековая лента', 'Этикет лента']
                        },
                        {
                            title: 'Фискальные накопители'
                        },
                        {
                            title: 'Аксессуары'
                        }
                    ]
                ]
            }
        },
        {
            title: 'Автоматизация',
            href: '/'
        },
        {
            title: 'Услуги',
            href: 'uslugi.html',
            dopClass: 'nav__item_subnav',
            subnav: {
                title: 'Торговое оборудование',
                list: {
                title: 'Программное обеспечение',
                items: [
                'Front-office (кассовое) ',
                'Back-office (товароучетное) ',
                'Облачные решения'
                ]
                },
                rows: [
                [
                {
                title: 'Онлайн-кассы (54 ФЗ)',
                items: ['Автономные кассы', 'Фискальные регистраторы']
                },
                {
                title: 'POS-системы',
                },
                {
                title: 'POS-переферия',
                items: ['POS-терминалы', 'POS-компьютеры', 'POS-мониторы', 'Дисплеи покупателя', 'Чековые принтеры ', 'Денежные ящики', 'Программируемые клавиатуры', 'Ридеры магнитных карт']
                },
                {
                title: 'Весовое оборудование',
                items: ['Весы с подключением к компьютеру ', 'Весы с печатью этикеток', 'Весы торговые', 'Весы порционные', 'Весы напольные']
                },
                ],
                [
                {
                title: 'Штрих-код оборудование ',
                items: ['Сканеры штрих-кода', 'Принтеры этикеток', 'Терминалы сбора данных (ТСД)']
                },
                {
                title: 'Банковское оборудование ',
                items: ['Терминалы для эквайринга', 'Детекторы валют', 'Счетчики банкнот', 'Счетно-сортировальные машины', 'Темпо-кассы']
                },
                {
                title: 'Упаковочное оборудование'
                },
                {
                title: 'Информационные киоски'
                },
                {
                title: 'Системы оповещения',
                items: ['Кнопки вызова', 'Приемники вызовов ', 'Табло вызовов', 'Усилители сигнала']
                },
                ],
                [
                {
                title: 'Расходные материалы',
                items: ['Чековая лента', 'Этикет лента']
                },
                {
                title: 'Фискальные накопители'
                },
                {
                title: 'Аксессуары'
                }
                ]
                ]
            }
        },
        {
            title: 'обслуживание',
            href: '/'
        },
        {
            title: 'егаис',
            href: '/'
        },
        {
            title: 'ФГИС МЕРКУРИЙ',
            href: '/'
        },
        {
            title: 'МАРКИРОВКА',
            href: '/'
        },


    ];
-
    var icats = [
        'Автономные онлайн-кассы (54-ФЗ)',
        'Фискальные регистраторы (54-ФЗ)',
        'POS-системы',
        'POS-терминалы',
        'POS-компьютеры',
        'POS-мониторы',
        'Дисплеи покупателя',
        'Чековые принтеры',
        'Денежные ящики',
        'Программируемые клавиатуры',
        'Весовое оборудование ',
        'Сканеры штрих-кода ',
        'Принтеры этикеток',
        'Терминалы сбора данных (ТСД) ',
        'Терминалы для эквайринга',
        'Детекторы валют',
        'Счетчики банкнот',
        'Раходные материалы',
        'Фискальные накопители',
        'Упаковочное оборудование',
        'Информационные киоски',
        'Системы оповещения',
        'Аксессуары',
        'Программное обеспечение'
    ]
-
    var iReadySws = [
        'Розничная торговля',
        'Общественное питание',
        'ЕГАИС',
        'Выездная торговля'
    ]
-
    var iReadyTabs2 = [
        {
            title: 'Супермаркет',
            text: 'Решение для крупных, универсальных, сетевых магазинов при наличии двух и более кассовых зон'
        },
         {
            title: 'Магазин',
            text: 'Решение для классических магазинов с самообслуживанием'
        },
         {
            title: 'Павильон',
            text: 'Решение для небольших торговых точек прилавочного типа'
        }
    ];
-
    var iChart = [
        [
            {
                date: '1 феварля 2017',
                text: 'Больше нельзя регистрировать старые кассы с ЭКЛЗ.'
            },
            {
                date: '31 марта 2017',
                text: 'Продавцы крепкого алкоголя, у которых еще небыло ККТ. Продавать слабоалкогольные напитки покачто можно без кассы нового образца'
            },
            {
                date: '1 июня 2017',
                text: 'ОСН и УСН, кроме услуг. Интернет-магазины, которые принимают карты и наличные деньги. Продавцы акцизных товаров.',
                last: true
            }
        ],
        [
            {
                date: '1 июля 2018',
                text: 'Интернет-магазины, которым клиент платит электронными деньгами, по квитанции в банке или на почте наложенным платежом. ЕНВД и ПСН с наемными сотрудниками в сфере общепита или розничной торговли. Вендинг с наемными сотрудниками.'
            },
            {
                date: '1 июля 2019',
                text: 'ЕНВД (подпункты 1–5, 10–14 пункта 2 сттьи 346,26 НК). Патент (подпункты 1–15, 18–28, 30–44, 49–58, 60–63 пункта 2 статьи 346,43 НК). Вендинг без сотрудиков. Услуги населению, кроме общепита с наемными сотрудниками.',
                last: true
            }
        ],
        [
            {
                date: '1 февраля 2021',
                text: 'ИП на патенте, ЕНВД и УСН обязаны указывать в чеке наименование товара или услуг и их количество.',
                last: true,
                dopClass: 'last'
            },
        ]
    ];
-
    var footer = [
        {
            title: 'Торговое оборудование ',
            href: '/',
            list: [
                'Автономные онлайн-кассы (54-ФЗ)',
                'Фискальные регистраторы (54-ФЗ)',
                'POS-системы',
                'POS-компьютеры',
                'POS-мониторы',
                'Дисплеи покупателя',
                'Программируемые клавиатуры',
                'Сканеры штрих-кода ',
                'Принтеры этикеток',
                'Терминалы сбора данных (ТСД)',
                'Электронные весы',
                'Денежные ящики',
                'Детекторы валют',
                'Банковские терминалы (эквайринг)',
                'Чековые принтеры ',
                'Фискальные накопители',
                'Расходные материалы'
            ]
        },
        {
            title: 'Автоматизация',
            href: '/',
            list: [
                'Продуктовый магазин ',
                'Алкогольный магазин',
                'Пивной магазин',
                'Магазин одежды и обуви ',
                'Аптека',
                'Хозяйственный магазин ',
                'Ювелирный магазин',
                'Цветочный магазин',
                'Магазин стройматериалов ',
                'Книжный магазин',
                'Косметический магазин',
                'Магазин автозапчастей ',
                'Зоомагазин',
                'Ресторан',
                'Фудкорт ',
                'Кафе, кофейня, бар',
                'Столовая на предприятии'
            ]
        },
        {
            title: 'Услуги',
            href: 'uslugi.html',
            list: [
                'Автоматизация',
                'Техническое обслуживание',
                'Подключение к ФГИС Меркурий',
                'Изготовление КЭП',
                'Регистрация ККТ в ИФНС ',
                'Подключение к ОФД',
                'Подключение ФР',
                'Подключение электронных весов',
                'Подключение сканера штрих-кода',
                'Подключение дисплея покупателя',
                'Подключение весов с печатью этикеток',
                'Подключение принтера этикеток',
                'Подключение программируемой клавиатуры ',
                'Подключение ТСД',
                'Подключение ЕГАИС',
                'Обучение кассира',
                'Обучение товароведа'
            ]
        },


    ];
-
    var uslugi = [
        {
            title: 'Регистрация ККТ в ИФНС ',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '3 500 руб.'
        },
        {
            title: 'Установка и настройка товароучетной программы с заполнением данных организации',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '4 500 руб.'
        },
        {
            title: 'Подключение фискального регистратора',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '2 500 руб.'
        },
        {
            title: 'Подключение сканера штрихкода',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '3 500 руб.'
        },
        {
            title: 'Обучение кассира ',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '4 500 руб.'
        },
        {
            title: 'Подключение, обучение и настройка ЕГАИС ',
            text: 'Регистрация онлайн-кассы в ФНС. Закажите услугу по регистрации кассы в ФНС в нашей компании и будьте уверенны в том, что ваша касса работает по закону!',
            price: '4 500 руб.'
        }
    ];
-
    var uaside = [
        {
            title: 'Автоматизация '
        },
        {
            title: 'Техническое обслуживание'
        },
        {
            title: 'Подключение к ФГИС Меркурий '
        },
        {
            title: 'Изготовление КЭП'
        },
        {
            title: 'Регистрация ККТ в ИФНС ',
            dopClass: 'active'
        },
        {
            title: 'Подключение к ОФД '
        },
        {
            title: 'Подключение ФР'
        },
        {
            title: 'Подключение электронных весов'
        },
        {
            title: 'Подключение сканера штрих-кода'
        },
        {
            title: 'Подключение дисплея покупателя '
        },
        {
            title: 'Подключение весов с печатью этикеток '
        },
        {
            title: 'Подключение принтера этикеток '
        },
        {
            title: 'Подключение программируемой клавиатуры '
        },
        {
            title: 'Подключение ТСД '
        },
        {
            title: 'Подключение ЕГАИС '
        },
        {
            title: 'Обучение кассира'
        },
        {
            title: 'Обучение товароведа'
        },
    ]